.ctg {
    display: flex;
    margin-bottom: 5px;
}
.ctg_head {
    min-width: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.ctg_info {
    padding: 0.3rem 1rem;
}
