<div class="container">
  <div class="search"><input class="search__input" type="text" placeholder="Где рожать">
    <button class="search__btn">Роддома</button>
  </div>
  <div class="main-clinic__columns">
    <aside class="main-clinic__filter filter">
      <div class="filter__section"><p class="filter__ttl">Как рожать</p>
        <div class="filter__select select">
          <button class="select__btn"><img src="img/icons/arrow-down.svg" class="select__btn-icon" alt=""></button>
          <div class="select__tag"><p class="select__tag-txt">Традиционные</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Вертикальные</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag-link">еще 2 вида</div>
        </div>
      </div>
      <div class="filter__section"><p class="filter__ttl">С кем рожать</p>
        <div class="filter__select select">
          <button class="select__btn"><img src="img/icons/arrow-down.svg" class="select__btn-icon" alt=""></button>
          <div class="select__tag"><p class="select__tag-txt">Дежурная бригада</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Личный акушер</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Доула</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag-link">еще 1 врач</div>
        </div>
        <ul class="filter__list">
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx8" checked="checked">
              <label class="checkbox__label" for="cbx8">Дмс для иностранных граждан</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx9" checked="checked">
              <label class="checkbox__label" for="cbx9">Туристическая страховка</label></div>
          </li>
        </ul>
      </div>
      <div class="filter__separator"></div>
      <div class="filter__section"><p class="filter__ttl">Палата</p>
        <div class="filter__select select"><span class="select__placeholder">Выберите вид палаты</span>
          <button class="select__btn"><img src="img/icons/arrow-down.svg" class="select__btn-icon" alt=""></button>
        </div>
      </div>
      <div class="filter__section"><p class="filter__ttl">Удобства</p>
        <div class="filter__select select">
          <button class="select__btn"><img src="img/icons/arrow-down.svg" class="select__btn-icon" alt=""></button>
          <div class="select__tag"><p class="select__tag-txt">Туалет</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Первый этаж</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Холодильник</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
          <div class="select__tag"><p class="select__tag-txt">Душ</p>
            <button class="select__tag-btn"><img src="img/icons/close-white.svg" class="select__tag-btn-icon" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="filter__section">
        <ul class="filter__list">
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx1" checked="checked">
              <label class="checkbox__label" for="cbx1">Посещение мамы<br>и малыша в палате</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx2" checked="checked">
              <label class="checkbox__label" for="cbx2">Наличие детской<br>реанимации</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx3" checked="checked">
              <label class="checkbox__label" for="cbx3">Патронаж мамы<br>и малыша</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx4"> <label
              class="checkbox__label" for="cbx4">Женская консультация<br>при роддоме</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx5"> <label
              class="checkbox__label" for="cbx5">Биострахование<br>малыша</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx6"> <label
              class="checkbox__label" for="cbx6">Трансфер<br>в роддом</label></div>
          </li>
          <li class="filter__item">
            <div class="checkbox"><input type="checkbox" name="cbx" class="checkbox__input" id="cbx7"> <label
              class="checkbox__label" for="cbx7">Рядом с домом</label></div>
          </li>
        </ul>
      </div>
      <div class="filter__btn-group">
        <button class="filter__btn filter__btn--green">Применить</button>
        <button class="filter__link">Сбросить фильтр</button>
      </div>
    </aside>
    <div class="result">
      <div class="result__header">
        <div class="result__selector selector"><span class="selector__txt">Вид:</span>
          <div class="selector__item"><input type="radio" name="cbx" class="selector__input" id="listShownBtn"
                                             checked="checked"> <label class="selector__label" for="listShownBtn"><img
            src="img/icons/burger.svg" class="selector__label-img" alt=""></label></div>
          <div class="selector__item"><input type="radio" name="cbx" class="selector__input" id="mapShownBtn"> <label
            class="selector__label" for="mapShownBtn"><img src="img/icons/map.svg" class="selector__label-img"
                                                           alt=""></label></div>
        </div>
      </div>
      <div class="result__body">
        <ul class="clinics__list">
          <li class="clinics__item">
            <div class="card">
              <div class="card__photo"><img src="img/clinic/clinic1.jpg"
                                            srcset="img/clinic/clinic1@2x.jpg 2x, img/clinic/clinic1@3x.jpg 3x"
                                            class="card__photo-img"
                                            alt="ФГБУ «Национальный медицинский исследовательский центр акушерства, гинекологии перинатологии имени академика В.И.Кулакова»">
                <div class="card__photo-mark-block mark-block">
                  <div class="mark-block__item"><img src="img/icons/person.svg" class="mark-block__icon" alt="">
                    <div class="mark-block__tooltip"><span class="mark-block__tooltip-txt">Клиника доброжелательная к ребёнку</span>
                    </div>
                  </div>
                  <div class="mark-block__item"><img src="img/icons/heart.svg" class="mark-block__icon" alt=""></div>
                </div>
              </div>
              <div class="card__description">
                <div class="card__description-top"><a href="#" class="card__ttl">ФГБУ «Национальный медицинский
                  исследовательский центр акушерства, гинекологии перинатологии имени академика В.И.Кулакова»</a>
                  <div class="card__map">
                    <div class="card__map-icon"><img src="img/icons/place.svg" alt=""></div>
                    <button class="card__map-btn">Показать на карте</button>
                    <p class="card__address">Москва, ул. Академика Опарина, 4</p></div>
                  <div class="card__tags"><span class="card__tags-ttl">Совпадения:</span> <span class="card__tags-txt">роды в воде; естественные роды; размещение в палате - 1 человек; трансфер из больницы</span>
                  </div>
                </div>
                <div class="card__controls card-controls">
                  <div class="card-controls__btn-group">
                    <button class="card-controls__btn card-controls__btn-bookmark">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 36">
                        <g id="prefix__bookmark" transform="translate(-80.334)">
                          <g id="prefix__Group_1923" data-name="Group 1923" transform="translate(80.334)">
                            <path id="prefix__Path_1566" fill="#ef424c"
                                  d="M103.309 0h-21.95a1.04 1.04 0 0 0-1.025 1.055v33.89a1.055 1.055 0 0 0 .633.974 1 1 0 0 0 .392.08 1.009 1.009 0 0 0 .725-.309l10.25-10.55 10.251 10.551a1 1 0 0 0 1.117.229 1.055 1.055 0 0 0 .633-.974V1.055A1.04 1.04 0 0 0 103.309 0z"
                                  data-name="Path 1566" transform="translate(-80.334)"></path>
                          </g>
                        </g>
                      </svg>
                    </button>
                    <button class="card-controls__btn card-controls__btn-other"><img
                      src="img/icons/ic-show-chart-24px.svg" alt=""></button>
                    <button class="card-controls__btn card-controls__btn-rating"><span class="card-controls__btn-txt">8,6</span>
                    </button>
                  </div>
                  <div class="card-controls__cnt"><a href="#" class="card-controls__link">Оставить отзыв</a> <span
                    class="card-controls__txt">143 отзыва</span></div>
                </div>
                <div class="card__footer"><p class="card__price"><span class="card__price-ttl">Пакеты услуг от:</span>
                  <span class="card__price-cnt card__price-cnt--green">1 200 000 рублей</span></p>
                  <div class="card__btn-group">
                    <button class="card__btn card__btn--green card__btn--offer"><span class="card__btn-txt">Спецпредложение<br>+5 опций в подарок</span>
                      <span class="card__btn-icon"><img src="img/icons/ic-new-releases-24px.svg" alt=""></span></button>
                    <button class="card__btn card__btn--blue"><span class="card__btn-txt">Хочу в роддом</span> <span
                      class="card__btn-tooltip-icon"><img src="img/icons/ic-info-outline-24px.svg" alt=""> <span
                      class="card__btn-tooltip">tooltip</span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="clinics__item">
            <div class="card">
              <div class="card__photo"><img src="img/clinic/clinic2.jpg"
                                            srcset="img/clinic/clinic1@2x.jpg 2x, img/clinic/clinic1@3x.jpg 3x"
                                            class="card__photo-img" alt="Перинатальный медицинский центр «Мать и дитя»">
                <div class="card__photo-mark-block mark-block">
                  <div class="mark-block__item"><img src="img/icons/heart.svg" class="mark-block__icon" alt=""></div>
                </div>
              </div>
              <div class="card__description">
                <div class="card__description-top"><a href="#" class="card__ttl">Перинатальный медицинский центр «Мать и
                  дитя»</a>
                  <div class="card__map">
                    <div class="card__map-icon"><img src="img/icons/place.svg" alt=""></div>
                    <button class="card__map-btn">Показать на карте</button>
                    <p class="card__address">Москва, Севастопольский проспект, 24к1</p></div>
                  <div class="card__tags"><span class="card__tags-ttl">Совпадения:</span> <span class="card__tags-txt">роды в воде; естественные роды; размещение в палате - 1 человек; трансфер из больницы</span>
                  </div>
                </div>
                <div class="card__controls card-controls">
                  <div class="card-controls__btn-group">
                    <button class="card-controls__btn card-controls__btn-other"><img
                      src="img/icons/ic-show-chart-24px.svg" alt=""></button>
                    <button class="card-controls__btn card-controls__btn-rating"><span class="card-controls__btn-txt">8,9</span>
                    </button>
                  </div>
                  <div class="card-controls__cnt"><a href="#" class="card-controls__link">Оставить отзыв</a> <span
                    class="card-controls__txt">143 отзыва</span></div>
                </div>
                <div class="card__footer"><p class="card__price"><span class="card__price-ttl">Пакеты услуг от:</span>
                  <span class="card__price-cnt">1 600 000 рублей</span></p>
                  <div class="card__btn-group">
                    <button class="card__btn card__btn--blue"><span class="card__btn-txt">Хочу в роддом</span> <span
                      class="card__btn-tooltip-icon"><img src="img/icons/ic-info-outline-24px.svg" alt=""> <span
                      class="card__btn-tooltip">tooltip</span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="clinics__item">
            <div class="card">
              <div class="card__photo"><img src="img/clinic/clinic3.jpg"
                                            srcset="img/clinic/clinic1@2x.jpg 2x, img/clinic/clinic1@3x.jpg 3x"
                                            class="card__photo-img" alt="РОДИЛЬНЫЙ ДОМ НА УЛИЦЕ ПРАВДЫ">
                <div class="card__photo-mark-block mark-block">
                  <div class="mark-block__item"><img src="img/icons/heart.svg" class="mark-block__icon" alt=""></div>
                </div>
              </div>
              <div class="card__description">
                <div class="card__description-top"><a href="#" class="card__ttl">РОДИЛЬНЫЙ ДОМ НА УЛИЦЕ ПРАВДЫ</a>
                  <div class="card__map">
                    <div class="card__map-icon"><img src="img/icons/place.svg" alt=""></div>
                    <button class="card__map-btn">Показать на карте</button>
                    <p class="card__address">Москва, ул. Правды 15, стр.1</p></div>
                  <div class="card__tags"><span class="card__tags-ttl">Совпадения:</span> <span class="card__tags-txt">роды в воде; естественные роды; размещение в палате - 1 человек; трансфер из больницы</span>
                  </div>
                </div>
                <div class="card__controls card-controls">
                  <div class="card-controls__btn-group">
                    <button class="card-controls__btn card-controls__btn-other"><img
                      src="img/icons/ic-show-chart-24px.svg" alt=""></button>
                    <button class="card-controls__btn card-controls__btn-rating"><span class="card-controls__btn-txt">8,9</span>
                    </button>
                  </div>
                  <div class="card-controls__cnt"><a href="#" class="card-controls__link">Оставить отзыв</a> <span
                    class="card-controls__txt">143 отзыва</span></div>
                </div>
                <div class="card__footer"><p class="card__price"><span class="card__price-ttl">Пакеты услуг от:</span>
                  <span class="card__price-cnt">1 850 000 рублей</span></p>
                  <div class="card__btn-group">
                    <button class="card__btn card__btn--blue"><span class="card__btn-txt">Хочу в роддом</span> <span
                      class="card__btn-tooltip-icon"><img src="img/icons/ic-info-outline-24px.svg" alt=""> <span
                      class="card__btn-tooltip">tooltip</span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="map"><img src="img/map.jpg" srcset="img/map@2x.jpg 2x, img/map@3x.jpg 3x" class="map__img" alt="">
        </div>
      </div>
    </div>
  </div>
  <aside class="main-clinic__messages">
    <div class="message"><img src="img/icons/close-red.svg" class="message__icon" alt="">
      <p class="message__txt">Ошибка авторизации. Проверьте правильность введеного логина и пароля.</p></div>
    <div class="message"><img src="img/icons/check-green.svg" class="message__icon" alt="">
      <p class="message__txt">Вы успешно записались на день открытых дверей в клинику</p></div>
    <div class="message message--btn"><img src="img/icons/envelop-blue.svg" class="message__icon" alt="">
      <p class="message__txt">У вас новое сообщение</p>
      <button class="message__btn">Ответить</button>
    </div>
  </aside>
</div>
