.clinic {
    position: relative;
}

.clinic__close {
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 10;
}

.clinic-close {
    border: none;
    width: 26px;
    height: 26px;
    padding: 0;
    background: transparent;
}

.clinic-close__img {
    width: 100%;
    height: 100%;
}

.clinic__cards {
    margin-top: 45px;
}

.clinic__accommodation,
.clinic__specialists {
    margin-top: 40px;
}
