<div class="clinic">
    <button class="clinic__close clinic-close">
        <img src="../../../img/icons/close.svg" class="clinic-close__img">
    </button>
    <div class="clinic__header clinic-header">
        <div class="clinic-header__info">
                <h2 class="clinic-header__ttl">ФГБУ «Национальный медицинский исследовательский центр акушерства, гинекологии и перинатологии имени академика В.И.Кулакова»</h2>
            <p class="clinic-header__address">Москва,  ул. Академика Опарина, 4,</p>
            <p class="clinic-header__license">Лицензия: 13546АП54-54</p>
        </div>
        <div class="clinic-header__actions clinic-header-actions">
            <p class="clinic-header-actions__review">
                <img src="img/icons/star-24.svg" width="22" height="22" class="clinic-header-actions__review-icon" alt="">
                <span>4,54 (285)</span>
            </p>
            <a href="#" class="clinic-header-actions-link">Оставить отзыв</a>
            <button class="clinic-header-actions-btn">Запланировать посещение</button>
        </div>
    </div>

    <div class="clinic__tabs">
        <div class="clinic-tabs">
            <div class="clinic-tabs__item">
                <div class="clinic-tabs__rbt clinic-tabs-rbt">
                    <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt1">
                    <label class="clinic-tabs-rbt__label" for="rbt1">
                        Специалисты
                        <span class="clinic-tabs-rbt__badge">+1</span>
                    </label>
                </div>
            </div>
            <div class="clinic-tabs__item">
                <div class="clinic-tabs__rbt clinic-tabs-rbt">
                    <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt2" checked>
                    <label class="clinic-tabs-rbt__label" for="rbt2">
                        Размещение
                        <span class="clinic-tabs-rbt__badge">+1</span>
                    </label>
                </div>
            </div>
            <div class="clinic-tabs__item">
                <div class="clinic-tabs__rbt clinic-tabs-rbt">
                    <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt3">
                    <label class="clinic-tabs-rbt__label" for="rbt3">
                        Виды родов
                        <span class="clinic-tabs-rbt__badge">+1</span>
                    </label>
                </div>
            </div>
            <div class="clinic-tabs__item">
                <div class="clinic-tabs__rbt clinic-tabs-rbt">
                    <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt4">
                    <label class="clinic-tabs-rbt__label" for="rbt4">
                        Дополнительные услуги
                        <span class="clinic-tabs-rbt__badge">+1</span>
                    </label>
                </div>
            </div>
        </div>

        <button class="clinic-cart-btn">
            <span class="clinic-cart-btn__txt">786 435 руб.</span>
        </button>
    </div>

    <div class="clinic__cards clinic-cards">
        <div class="clinic-cards__card clinic-card">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/1.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Естественные</a>
            <p class="clinic-card__desc">Естественные роды проходят в три последовательных …</p>
            <p class="clinic-card__price">51 805 руб.</p>
        </div>
        <div class="clinic-cards__card clinic-card">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/2.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Кесарево сечение</a>
            <p class="clinic-card__desc">Кесарево сечение выполняется в экстренных случаях …</p>
            <p class="clinic-card__price">33 475 руб.</p>
        </div>
        <div class="clinic-cards__card clinic-card">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/3.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Мягкие роды</a>
            <p class="clinic-card__desc">В развитии методики максимальной естественности при традиционных …</p>
            <p class="clinic-card__price">9 425 руб.</p>
        </div>
        <div class="clinic-cards__card clinic-card">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/4.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Партнерские роды</a>
            <p class="clinic-card__desc">Партнёрские роды — роды с помощником, когда помимо акушерки, …</p>
            <p class="clinic-card__price">6 175 руб.</p>
        </div>
        <div class="clinic-cards__card clinic-card">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/5.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Роды в воде</a>
            <p class="clinic-card__desc">Основа метода в том, что вода изменяет вес тела и ощущения, что уменьшает …</p>
            <p class="clinic-card__price">5 525 руб.</p>
        </div>
        <div class="clinic-cards__card clinic-card active">
            <div class="clinic-card__controls clinic-card-controls">
                <button class="clinic-card-controls__btn clinic-card-controls__btn-check"></button>
                <button class="clinic-card-controls__btn clinic-card-controls__btn-favorites"></button>
            </div>

            <div class="clinic-card__img-wrap">
                <img src="img/clinic-cards/6.png" width="150" height="120" alt="" class="clinic-card__img">
            </div>
            <a href="#" class="clinic-card__ttl">Вертикальные роды</a>
            <p class="clinic-card__desc">При вертикальных родах процесс схваток аналогичен …</p>
            <p class="clinic-card__price">21 805 руб.</p>
        </div>
    </div>

    <div class="clinic__accommodation accommodation-cards">
        <div class="accommodation-card">
            <div class="accommodation-card__top">
                <div class="accommodation-card__img-wrap">
                    <img src="img/accommodation-cards/accommodation-cards1.jpg" class="accommodation-card__img">
                </div>
                <div class="accommodation-card__info">
                    <p class="accommodation-card__txt">Комфортабельная палата отвечает высочайшими требованиям комфорта и безопасности и идеальна для совместного пребывания мамы и ребенка. Светлый, наполненный воздухом интерьер располагает к спокойному отдыху и заботе о малыше.</p>
                    <p class="accommodation-card__txt">Площадь палаты: 17-24 кв.м.</p>
                    <p class="accommodation-card__price">487 500 руб.</p>
                </div>
            </div>
            <button class="accommodation-card__btn">Редактировать карточку</button>
            <div class="accommodation-card__actions">
                <div class="checkbox checkbox--end accommodation-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox">
                    <label class="checkbox__label" for="checkbox">Доступность</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
        <div class="accommodation-card">
            <div class="accommodation-card__top">
                <div class="accommodation-card__img-wrap">
                    <img src="img/accommodation-cards/accommodation-cards2.jpg" class="accommodation-card__img">
                </div>
                <div class="accommodation-card__info">
                    <p class="accommodation-card__txt">Просторные двухкомнатные люкс-апартаменты сочетают в себе
                        безупречный дизайн функциональность с высочайшим уровнем комфорта и безопасности. Чистота линий, обилие света и воздуха
                        создают неповторимую атмосферу </p>
                    <p class="accommodation-card__txt">Площадь палаты: 32-36 кв.м.</p>
                    <p class="accommodation-card__price">780 000 руб.</p>
                </div>
            </div>
            <button class="accommodation-card__btn">Редактировать карточку</button>
            <div class="accommodation-card__actions">
                <div class="checkbox checkbox--end accommodation-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox2">
                    <label class="checkbox__label" for="checkbox2">Доступность</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
        <div class="accommodation-card">
            <div class="accommodation-card__top">
                <div class="accommodation-card__img-wrap">
                    <img src="img/accommodation-cards/accommodation-cards3.jpg" class="accommodation-card__img">
                </div>
                <div class="accommodation-card__info">
                    <p class="accommodation-card__txt">Уютная студия обеспечит максимальный комфорт и удовольствие
                        от пребывания,  возможность насладиться классической роскошью
                        и элегантностью, станет приятным дополнением к долгожданному </p>
                    <p class="accommodation-card__txt">Площадь палаты: 31 кв.м.</p>
                    <p class="accommodation-card__price">650 000 руб.</p>
                </div>
            </div>
            <button class="accommodation-card__btn">Редактировать карточку</button>
            <div class="accommodation-card__actions">
                <div class="checkbox checkbox--end accommodation-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox3">
                    <label class="checkbox__label" for="checkbox3">Доступность</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
    </div>

    <div class="clinic__specialists specialists-cards">
        <div class="specialists-card">
            <div class="specialists-card__category">B</div>
            <div class="specialists-card__avatar">
                <img src="img/specialists-cards/specialist1.png" class="specialists-card__avatar-img">
            </div>

            <div class="specialists-card__info">
                <p class="specialists-card__name">Маркелова</p>
                <p class="specialists-card__name">Анастасия</p>
                <p class="specialists-card__exp">Стаж: 23 года</p>
                <p class="specialists-card__exp">Количество родов: 56</p>
                <p class="specialists-card__position">Акушер-гинеколог, врач ультразвуковой диагностики</p>
            </div>

            <div class="specialists-card__actions">
                <p class="specialists-card__price">75 000 руб.</p>
                <button class="specialists-card__btn">Редактировать карточку</button>
                <div class="checkbox checkbox--end specialists-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox4">
                    <label class="checkbox__label" for="checkbox4">Доступность врача</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
        <div class="specialists-card">
            <div class="specialists-card__category">A</div>
            <div class="specialists-card__avatar">
                <img src="img/specialists-cards/specialist1.png" class="specialists-card__avatar-img">
            </div>

            <div class="specialists-card__info">
                <p class="specialists-card__name">Протасова</p>
                <p class="specialists-card__name">Анна</p>
                <p class="specialists-card__exp">Стаж: 14 лет</p>
                <p class="specialists-card__exp">Количество родов: 45</p>
                <p class="specialists-card__position">Акушер-гинеколог, хирург</p>
            </div>

            <div class="specialists-card__actions">
                <p class="specialists-card__price">55 000 руб.</p>
                <button class="specialists-card__btn">Редактировать карточку</button>
                <div class="checkbox checkbox--end specialists-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox5">
                    <label class="checkbox__label" for="checkbox5">Доступность врача</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
        <div class="specialists-card">
            <div class="specialists-card__category">A</div>
            <div class="specialists-card__avatar">
                <img src="img/specialists-cards/specialist-mask.png" class="specialists-card__avatar-img">
            </div>

            <div class="specialists-card__info">
                <p class="specialists-card__name">Сабурова</p>
                <p class="specialists-card__name">Ксения</p>
                <p class="specialists-card__exp">Стаж: 12 лет</p>
                <p class="specialists-card__exp">Количество родов: 85</p>
                <p class="specialists-card__position">Акушер-гинеколог,  д.м.н., профессор. Главный врач</p>
            </div>

            <div class="specialists-card__actions">
                <p class="specialists-card__price">45 000 руб.</p>
                <button class="specialists-card__btn">Редактировать карточку</button>
                <div class="checkbox checkbox--end specialists-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox6">
                    <label class="checkbox__label" for="checkbox6">Доступность врача</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
        <div class="specialists-card">
            <div class="specialists-card__category">A</div>
            <div class="specialists-card__avatar">
                <img src="img/specialists-cards/specialist1.png" class="specialists-card__avatar-img">
            </div>

            <div class="specialists-card__info">
                <p class="specialists-card__name">Ермолова</p>
                <p class="specialists-card__name">Елена</p>
                <p class="specialists-card__exp">Стаж: 9 лет</p>
                <p class="specialists-card__exp">Количество родов: 85</p>
                <p class="specialists-card__position">Гинеколог</p>
            </div>

            <div class="specialists-card__actions">
                <p class="specialists-card__price">30 000 руб.</p>
                <button class="specialists-card__btn">Редактировать карточку</button>
                <div class="checkbox checkbox--end specialists-card__actions-checkbox">
                    <input type="checkbox" class="checkbox__input" id="checkbox7">
                    <label class="checkbox__label" for="checkbox7">Доступность врача</label>
                </div>
                <button class="accommodation-card__btn-del">Удалить карточку</button>
            </div>
        </div>
    </div>


</div>
