<div class="clinic">

    <button class="clinic__close clinic-close">
        <img src="../../../img/icons/close.svg" class="clinic-close__img">
    </button>

    <app-clinic-header></app-clinic-header>
    <app-configurator-tabs></app-configurator-tabs>

    <div class="clinic__cards clinic-cards">
        <app-configurator-card [cardType]="'other'" [active]="true"></app-configurator-card>
        <app-configurator-card [cardType]="'other'"></app-configurator-card>
        <app-configurator-card [cardType]="'other'"></app-configurator-card>
    </div>

    <div class="clinic__accommodation accommodation-cards">
        <app-configurator-card [cardType]="'placement'" [active]="true"></app-configurator-card>
        <app-configurator-card [cardType]="'placement'"></app-configurator-card>
        <app-configurator-card [cardType]="'placement'"></app-configurator-card>
    </div>

    <div class="clinic__specialists specialists-cards">
        <app-configurator-card [cardType]="'person'" [active]="true"></app-configurator-card>
        <app-configurator-card [cardType]="'person'"></app-configurator-card>
        <app-configurator-card [cardType]="'person'"></app-configurator-card>
    </div>
</div>
