:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 16px;
  cursor: pointer;
}
i{
  transition: transform 0.15s ease;
  
  &:hover{
    transform: scale(1.3);
  }
}

.positive {
  color: #1eab00;
}
.negative {
  color: #ac0000;
}
