<div
    class="speech-bubble"
    [ngClass]="{
        'speech-bubble-main': mode === 'main',
        'speech-bubble-accent': color === 'accent',
        'speech-bubble-accent-secondary': color === 'secondary-accent',
        'speech-bubble-left': mode === 'answer',
        'speech-bubble-right': mode === 'reply'
    }"
>
    <ng-container *ngIf="editMode then input; else default"></ng-container>  
    <div class="bubble-footer">
        <i class="fas fa-chevron-down clickable" *ngIf="!editMode"></i>
        <i class="fa-solid fa-paper-plane clickable" *ngIf="editMode"></i>
    </div>
    
</div>

<ng-template #default>
    <div class="speech-bubble-text">{{ text }}</div>
    <ng-content></ng-content>
</ng-template>

<ng-template #input>
    <div class="input_container">
        <textarea #ta_el (input)="auto_grow(ta_el)"></textarea>
    </div>
</ng-template>