<div class="clinics__item">
    <div class="card">
        <div class="card__photo">
            <img class="img_clinic"
                 [src]="photoUrl$ | async"
                 [alt]="viewConsultation?.title"
                 (error)="imageSignal$.next(null)"
            >
            <div class="card__photo-mark-block mark-block">
<!--                <div class="mark-block__item">-->
<!--                    <img src="img/icons/person.svg"-->
<!--                         class="mark-block__icon"-->
<!--                         [ngClass]="{muted: !(viewConsultation?.features?.status_iho)}"-->
<!--                         alt="">-->
<!--                    <div class="mark-block__tooltip">-->
<!--                        <span class="mark-block__tooltip-txt">Клиника доброжелательная к ребёнку</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mark-block__item">-->
<!--                    <img src="img/icons/hearts.svg"-->
<!--                         class="mark-block__icon muted"-->
<!--                         [ngClass]="{muted: !(viewConsultation?.features?.mom_with_baby)}"-->
<!--                         alt="">-->
<!--                    <div class="mark-block__tooltip">-->
<!--                        <span class="mark-block__tooltip-txt">Совместное пребывание матери и ребенка</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="card__description">
            <div class="card__description-top">
                <a [routerLink]="['/system/configurator/consultation', viewConsultation.id]"
                   class="card__ttl">{{viewConsultation.title}}</a>
                <div class="card__controls muted">
                    <div class="card-controls__btn-group">
                        <button class="card-controls__btn card-controls__btn-bookmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 36">
                                <g id="prefix__bookmark" transform="translate(-80.334)">
                                    <g id="prefix__Group_1923" data-name="Group 1923" transform="translate(80.334)">
                                        <path id="prefix__Path_1566" fill="#ef424c"
                                              d="M103.309 0h-21.95a1.04 1.04 0 0 0-1.025 1.055v33.89a1.055 1.055 0 0 0 .633.974 1 1 0 0 0 .392.08 1.009 1.009 0 0 0 .725-.309l10.25-10.55 10.251 10.551a1 1 0 0 0 1.117.229 1.055 1.055 0 0 0 .633-.974V1.055A1.04 1.04 0 0 0 103.309 0z"
                                              data-name="Path 1566" transform="translate(-80.334)"></path>
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <button class="card-controls__btn card-controls__btn-other"><img
                            src="img/icons/ic-show-chart-24px.svg" alt=""></button>
                        <button class="card-controls__btn card-controls__btn-rating"><span
                            class="card-controls__btn-txt">{{viewConsultation.stat_value}}</span>
                        </button>
                    </div>
                    <div class="card-controls__cnt"><a href="#" class="card-controls__link">Оставить отзыв</a> <span
                        class="card-controls__txt">Всего {{viewConsultation.stat_count}}</span></div>
                </div>
            </div>
            <div class="card__tags">
                <span class="card__tags-ttl">Описание:</span>
                <span class="card__tags-txt" [ngClass]="{txtUnWrap: !wrapped}"
                      (click)="wrap()">{{viewConsultation.description || 'Нет описания'}}</span>
                <span class="card__tags-txt readmore" *ngIf="!wrapped && viewConsultation.description" (click)="wrap()">Читать далее</span>
            </div>

            <div class="card__map" (click)="showClinicOnMap()">
                <div class="card__map-icon"><img src="img/icons/place.svg" alt=""></div>
                <button class="card__map-btn">Показать на карте</button>
                <p class="card__address">{{viewConsultation.address}}</p>
            </div>


            <div class="card__footer">
                <p class="card__price">
                    <span class="card__price-ttl">Пакеты услуг от:</span>
                    <span class="card__price-cnt card__price-cnt--green"
                          *ngIf="viewConsultation.price_from else noslots">{{viewConsultation.price_from}}</span>
                    <ng-template #noslots>
                        <span class="card__price-cnt no-slot">Нет оказываемых услуг</span>
                    </ng-template>
                </p>
                <div class="card__btn-group">
                    <!--                    <button class="card__btn card__btn&#45;&#45;green card__btn&#45;&#45;offer"><span class="card__btn-txt">Спецпредложение<br>+5 опций в подарок</span>-->
                    <!--                        <span class="card__btn-icon"><img src="img/icons/ic-new-releases-24px.svg" alt=""></span>-->
                    <!--                    </button>-->
                    <button class="card__btn card__btn--blue" (click)="gotoConfigurator()">
                        <span class="card__btn-txt">Перейти на страницу роддома</span>
                        <span class="card__btn-tooltip-icon">
                        <img src="img/icons/ic-info-outline-24px.svg" alt="">
                        <span class="card__btn-tooltip">Перейти к конфигуратору</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
