@import 'sass/blocks/card-base';

:host {
    flex-grow: 1;
}

.card {
    @extend .card-base;

    &:hover {
        transform: none !important;
        background: linear-gradient(to right bottom, rgba(72, 127, 241, 0.1), rgba(72, 127, 241, 0.05));
        box-shadow: 0 4px 8px rgba(72, 127, 241, 0.1), 0 8px 20px rgba(72, 127, 241, 0.08);
    }
}

.card__image {
    @extend .card-image;
}

.card__content {
    @extend .card-content;
}

.card__title {
    @extend .card-title;
}

.card__description {
    @extend .card-description;
}

// Специфичные стили для консультации
.txtUnWrap {
    height: 4.2rem;
    overflow: hidden;
}

.readmore {
    font-weight: bold;
    color: #2d333f;
    cursor: pointer;
    white-space: nowrap;
    align-self: flex-end;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .txtUnWrap {
        height: 3.5rem;
    }

    .readmore {
        white-space: normal;
    }
}