<div class="stats">
  <span>Таблица: {{key}} </span>
  <span>тип: {{type === 'dict' ? 'Словарь' : 'Сущность'}} </span>
  <span>Всего элементов: {{total}} </span>
  <span>Всего страниц: {{ allPages }} </span>
  <br>
  <span *ngIf="currentItem">Выбранный элемент: {{currentItem.data.title}}[ {{currentItem.data.id}} ]</span>
  <button *ngIf="currentItem" (click)="unselectItem()">Снять выбор</button>
</div>
<app-filters [filters]="filters" (update)="refreshTable($event)"></app-filters>
<div class="bh_table_head">
  <div class="row" *ngFor="let rs of rowSettings">{{ rs.title }}</div>
</div>
<div class="container">
  <app-cell 
    [ngClass]="{'selected': !!item.selected}"
    *ngFor="let item of items; let i = index" 
    [rs]="rowSettings" 
    [data]="item.data"
    (click)="selectItem( item )"></app-cell>
</div>
<div class="bh_table_page">
  <app-paginator [pages]="allPages" (vc)="pageChanged($event)"></app-paginator>
</div>