.stats{
    border: 1px orange dotted;
    line-height: 25px;
    padding: 10px;
}
.bh_table_head{
    border: 1px orange dotted;
    min-height: 35px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.bh_table_head .row{
    flex-grow: 1;
    flex-basis: 1px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
app-cell:nth-child(odd){
    background-color: beige;
}

app-cell.selected{
    opacity: 0.4;
    background-color: coral;
}

.bh_table_error_block{
    background-color: brown;
    color: antiquewhite;
    padding: 5px;
}
.img_block{
  width: 35px;
  height: 35px;
  margin: -12px 10px;
  border-radius: 5px;
  background-size: cover;
}
.img_block:hover{
  transition: all 0.1s ease-in-out;
  transform: scale(10);
  /*width: unset;*/
  /*height: unset;*/
}
.imagerow{
  max-width: 40px;
}
