.cart__columns {
    display: flex;
    width: 100%;
    max-width: 1180px;

    & + & {
        margin-top: 45px;
    }
}
.cart__columns-left {
    width: 100%;
    max-width: 775px;
    margin-right: 24px;
}

.cart__sidebar {
    width: 375px;
}

.cart__sidebar-widget {
    margin-top: 116px;
}

.cart__sidebar-prise {
    margin-top: 25px;
}

.cart__articles {
    margin-top: 125px;
}
