<div class="cart__columns">
    <div class="cart__columns-left">
        <div class="cart__header cart-header">
            <h3 class="cart-header__title">
                <img src="img/icons/cart.svg" class="cart-header__title-img"/>
                Корзина</h3>
            <button class="cart-header__btn-link muted">Очистить корзину</button>
        </div>

        <div class="empty_cart">Ваша корзина пуста <br> Выберите услуги чтобы оформить заказ</div>

        <!--<div class="cart-pack cart-pack&#45;&#45;clinic">
            <div class="cart-pack__name">
                <p class="cart-pack__name-title">Ведение беременности</p>
            </div>

            <div class="cart-pack__body">
                <div class="cart-pack__body-title">
                    <p class="cart-pack__body-title-text">ФГБУ «Национальный медицинский исследовательский центр
                        акушерства, гинекологии и перинатологии имени академика
                        В.И.Кулакова»</p>
                    <div class="edit_btn"><i class="far fa-edit fa-2x" title="Редактировать выбранные услуги"></i></div>
                </div>
                <div class="cart-pack__body-content">
                    <div class="cart-pack__body-options cart-pack-options">
                        <p class="cart-pack-options__item">
                            <span class="cart-pack-options__item-name">Посещение мамы и малыша в палате:</span>
                            <span class="cart-pack-options__item-value">Да</span>
                        </p>
                        <p class="cart-pack-options__item">
                            <span class="cart-pack-options__item-name">Наличие детской реанимации:</span>
                            <span class="cart-pack-options__item-value">Да</span>
                        </p>
                        <p class="cart-pack-options__item">
                            <span class="cart-pack-options__item-name">Женская консультация при роддоме:</span>
                            <span class="cart-pack-options__item-value">Да</span>
                        </p>
                        <p class="cart-pack-options__item">
                            <span class="cart-pack-options__item-name">Рядом с домом:</span>
                            <span class="cart-pack-options__item-value">Да</span>
                        </p>
                    </div>

                    <div class="cart-pack__body-item cart-pack-item">
                        <p class="cart-pack-item__title">Специалисты</p>
                        <div class="cart-pack-item__inner">
                            <div class="cart-pack-item__inner-avatar">
                                <img src="img/specialists-cards/specialist1.png">
                            </div>
                            <p class="cart-pack-item__inner-name">Маркелова Анастасия</p>
                            <div class="cart-pack-item__inner-value">
                                <p class="cart-pack-item__inner-value-text">Личный акушер</p>
                                <p class="cart-pack-item__inner-value-text">Категория - А</p>
                            </div>
                            <p class="cart-pack-item__inner-price">75 000 руб.</p>
                            <div class="cart-pack-item__inner-btns-group">
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;share"></button>
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;delete"></button>
                            </div>
                        </div>
                    </div>

                    <div class="cart-pack__body-item cart-pack-item">
                        <p class="cart-pack-item__title">Размещение</p>
                        <div class="cart-pack-item__inner">
                            <div class="cart-pack-item__inner-avatar">
                                <img src="img/accommodation-cards/accommodation-cards2.jpg">
                            </div>
                            <p class="cart-pack-item__inner-name">Площадь палаты: 32-36 кв.м.</p>
                            <div class="cart-pack-item__inner-value"></div>
                            <p class="cart-pack-item__inner-price">780 000 руб.</p>
                            <div class="cart-pack-item__inner-btns-group">
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;share"></button>
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;delete"></button>
                            </div>
                        </div>
                    </div>

                    <div class="cart-pack__body-item cart-pack-item">
                        <p class="cart-pack-item__title">Дополнительные услуги</p>
                        <div class="cart-pack-item__inner">
                            <div class="cart-pack-item__inner-avatar">
                                <img src="img/accommodation-cards/accommodation-cards2.jpg">
                            </div>
                            <p class="cart-pack-item__inner-name">Маникюр</p>
                            <div class="cart-pack-item__inner-value"></div>
                            <p class="cart-pack-item__inner-price">5 525 руб.</p>
                            <div class="cart-pack-item__inner-btns-group">
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;share"></button>
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;delete"></button>
                            </div>
                        </div>
                        <div class="cart-pack-item__inner">
                            <div class="cart-pack-item__inner-avatar">
                                <img src="img/accommodation-cards/accommodation-cards2.jpg">
                            </div>
                            <p class="cart-pack-item__inner-name">Педикюр</p>
                            <div class="cart-pack-item__inner-value"></div>
                            <p class="cart-pack-item__inner-price">7 475 руб.</p>
                            <div class="cart-pack-item__inner-btns-group">
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;share"></button>
                                <button class="cart-pack-item__inner-btn cart-pack-item__inner-btn&#45;&#45;delete"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="cart-pack__body-btn">Свернуть</button>
            </div>
        </div>-->
    </div>

    <!--<div class="cart__sidebar">
        <div class="cart__sidebar-widget cart-widget muted">
            <p class="cart-widget__title">А можно <span>БЕСПЛАТНО</span></p>
            <p class="cart-widget__desc">Единоразовое пособие молодым
                родителям* <span>100 000</span> рублей
                при рождении ребенка</p>
        </div>

        <div class="cart__sidebar-prise cart-price">
            <div class="cart-price__item">
                <p class="cart-price__item-title">Стоимость заказа:</p>
                <p class="cart-price__item-value cart-price__item-value&#45;&#45;blue">1 237 969 руб.</p>
            </div>
            <div class="cart-price__item">
                <p class="cart-price__item-title">Скидка <span class="bold">Birth Helper</span>:</p>
                <p class="cart-price__item-value cart-price__item-value&#45;&#45;red">- 243 000 руб.</p>
            </div>
            <div class="cart-price__item">
                <p class="cart-price__item-title">Скидка при оплате на сайте:</p>
                <p class="cart-price__item-value cart-price__item-value&#45;&#45;red">- 50 000 руб.</p>
            </div>
            <div class="cart-price__item">
                <p class="cart-price__item-title">Итого к оплате:</p>
                <p class="cart-price__item-value cart-price__item-value&#45;&#45;green">944 969 руб.</p>
            </div>
        </div>

        <button class="cart-price__btn cart-price__btn&#45;&#45;blue">Отправить запрос менеджеру</button>
        <button class="cart-price__btn cart-price__btn&#45;&#45;ghost">Оформить кредит или рассрочку</button>
    </div>-->
</div>

<!--<div class="cart__columns muted">
    <div class="cart__columns-left">
        <div class="cart__band cart-band">
            <p class="cart-band__txt">Вы также можете получить скидку в размере <span>15 %</span>
            при подключении пакета «Родовспоможение»</p>
            <button class="cart-band__btn">Получить скидку</button>
        </div>
    </div>
    <div class="cart__sidebar"></div>
</div>-->

<!--<div class="cart__articles articles muted">
    <div class="article">
        <div class="article__img">
            <img src="img/accommodation-cards/accommodation-cards2.jpg">
        </div>
        <div class="article__content">
            <p class="article__title">Заголовок статьи</p>
            <p class="article__desc">Текст статьи в одну сстроку, но для
                примера добавим еще одну строку.</p>
        </div>
    </div>
    <div class="article article&#45;&#45;more">
        <p class="article__title">Больше полезных статей</p>
        <button class="article__btn">Открыть</button>
    </div>
</div>-->
