<div class="cart__columns">
    <div class="cart__columns-left">
        <div class="cart__header cart-header">
            <h3 class="cart-header__title">
                <img src="img/icons/cart.svg" class="cart-header__title-img"/>
                Корзина</h3>
            <button class="cart-header__btn-link muted">Очистить корзину</button>
        </div>

        <ng-container *ngIf="{contragentTree: validationTree$ | async} as data">
            <ng-container *ngIf="data?.contragentTree?.length else empty">
                <ng-container *ngFor="let c of data.contragentTree; let idx = index; trackBy:trackIt">
                    <app-contragent [validationTreeByContragent]="c" [show]="idx === 0"></app-contragent>
                </ng-container>
            </ng-container>

            <ng-template #empty>
                <div class="empty_cart">Ваша корзина пуста <br> Выберите услуги чтобы оформить заказ</div>
            </ng-template>
        </ng-container>



    </div>


    <div class="cart__sidebar">
        <div class="cart__sidebar-widget cart-widget muted">
            <p class="cart-widget__title">А можно <span>БЕСПЛАТНО</span></p>
            <p class="cart-widget__desc">Единоразовое пособие молодым
                родителям* <span>100 000</span> рублей
                при рождении ребенка</p>
        </div>

        <div class="cart__sidebar-prise cart-price">
            <div class="cart-price__item">
                <p class="cart-price__item-title">Стоимость заказа:</p>
                <p class="cart-price__item-value cart-price__item-value--blue">{{totalPrice$ | async}} руб.</p>
            </div>
<!--            <div class="cart-price__item">-->
<!--                <p class="cart-price__item-title">Скидка <span class="bold">Birth Helper</span>:</p>-->
<!--                <p class="cart-price__item-value cart-price__item-value&#45;&#45;red">- 243 000 руб.</p>-->
<!--            </div>-->
<!--            <div class="cart-price__item">-->
<!--                <p class="cart-price__item-title">Скидка при оплате на сайте:</p>-->
<!--                <p class="cart-price__item-value cart-price__item-value&#45;&#45;red">- 50 000 руб.</p>-->
<!--            </div>-->
            <div class="cart-price__item">
                <p class="cart-price__item-title">Итого к оплате:</p>
                <p class="cart-price__item-value cart-price__item-value--green">{{totalPriceValid$ | async}} руб.</p>
            </div>
        </div>

        <button class="cart-price__btn cart-price__btn--blue muted">Отправить запрос менеджеру</button>
        <button class="cart-price__btn cart-price__btn--ghost muted">Оформить кредит или рассрочку</button>
    </div>
</div>

<!--<div class="cart__columns muted">
    <div class="cart__columns-left">
        <div class="cart__band cart-band">
            <p class="cart-band__txt">Вы также можете получить скидку в размере <span>15 %</span>
            при подключении пакета «Родовспоможение»</p>
            <button class="cart-band__btn">Получить скидку</button>
        </div>
    </div>
    <div class="cart__sidebar"></div>
</div>-->

<!--<div class="cart__articles articles muted">
    <div class="article">
        <div class="article__img">
            <img src="img/accommodation-cards/accommodation-cards2.jpg">
        </div>
        <div class="article__content">
            <p class="article__title">Заголовок статьи</p>
            <p class="article__desc">Текст статьи в одну сстроку, но для
                примера добавим еще одну строку.</p>
        </div>
    </div>
    <div class="article article&#45;&#45;more">
        <p class="article__title">Больше полезных статей</p>
        <button class="article__btn">Открыть</button>
    </div>
</div>-->
