:host {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* justify-content: center; */
  align-items: center;
}
.cart__columns {
    display: flex;
    width: 100%;
    max-width: 1180px;

    & + & {
        margin-top: 45px;
    }
}

.cart__columns-left {
    width: 100%;
    max-width: 775px;
    margin-right: 24px;
}

.cart__sidebar {
    width: 375px;
}

.cart__sidebar-widget {
    margin-top: 60px;
}

.cart__sidebar-prise {
    margin-top: 25px;
}

.cart__articles {
    margin-top: 125px;
}

.empty_cart {
    height: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: grey;
    border: 2px solid lightgrey;
    margin: 5%;
    text-align: center;
}
