.default {
    height: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: grey;
    border: 2px solid lightgrey;
    text-align: center;
    padding: 15px;
    width: 100%;
}
.small {
    width: 50px;
}
.mid {
    width: 90px;
}
.long {
    width: 150px;
}
.extra {
    width: 210px;
}
.lk-view-block {
    .lk-view-block__head {
        ._row {
            background-color: whitesmoke;
            display: flex;
            flex: 1;
            .lk-view-block__head__item {
                margin: 15px;
            }
        }
    }
    .lk-view-block__body {
        ._row {
            background-color: #ffffff;
            display: flex;
            flex: 1;
            &:nth-child(odd) {
                background-color: #DBE9FF;
            }
        }
    }
}
.order_container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    .order_container_head {
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-wrap: wrap;
        background-color: #F3F3F3;
    }
}
$skype-color: #00aff0;
$whatsapp-color: #128C7E;
$telegram-color: #0088cc;
$viber-color: #59267c;
.fa-viber {
    color: $viber-color;
}
.fa-whatsapp {
    color: $whatsapp-color;
}
.fa-skype {
    color: $skype-color;
}
.fa-telegram-plane {
    color: $telegram-color;
}
