@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  line-height: (18 / 14);
  font-family: "Gilroy", "Arial", sans-serif;
  color: $dark;
  background-color: $main-bg;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
.bold {
    font-weight: bold;
}

::-webkit-input-placeholder {
  color: rgba(45, 51, 63, 0.5);
}
::-moz-placeholder {
  color: rgba(45, 51, 63, 0.5);
}/*Firefox19+*/
:-moz-placeholder {
  color: rgba(45, 51, 63, 0.5);
}/*Firefox18-*/
:-ms-input-placeholder {
  color: rgba(45, 51, 63, 0.5);
}
