$red:			#862a3f;
$white:			#ffffff;
$dark:			#4c4c4c;
$light-grey:	#f8f8f8;
$border-grey:	#eeeeee;
$blue:			#487ff1;
$light-blue:    #6896f5;
$black:			#2d333f;
$green:			#30c469;
$light-green:	#56d888;
$red:			#ef424c;
$orange:		#ed7255;

$main-bg:			#f6f7fb;


$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;
