:host{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
:host:hover{
    background-color: burlywood !important;
}
.row{
    flex-grow: 1;
    flex-basis: 1px;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px grey solid;
}
button.remove{
    color: aliceblue;
    background-color: brown;
    padding: 5px;
}
.img_block:hover{
  transition: all 0.1s ease-in-out;
  transform: scale(5);
}
.imagerow{
  max-width: 40px;
}
