<h3>Настройка услуг</h3>
<div class="bh_block">
  <div class="bh_control">
    <label for="title" class="bh_label"></label>
    <input type="text" name="title" placeholder="Название услуги" />

    <label for="title" class="bh_label"></label>
    <textarea name="description" placeholder="Описание услуги" ></textarea>

    <label for="title" class="bh_label"></label>
    <select name="category" ></select>

    <label for="title" class="bh_label"></label>
    <input type="text" name="title" placeholder="Название услуги" />
  </div>
</div>