<div class="clinic__header clinic-header">
    <div class="clinic-header__info">
        <h2 class="clinic-header__ttl">ФГБУ «Национальный медицинский исследовательский центр акушерства, гинекологии и перинатологии имени академика В.И.Кулакова»</h2>
        <p class="clinic-header__address">Москва,  ул. Академика Опарина, 4,</p>
        <p class="clinic-header__license">Лицензия: 13546АП54-54</p>
    </div>
    <div class="clinic-header__actions clinic-header-actions">
        <p class="clinic-header-actions__review">
            <img src="img/icons/star-24.svg" width="22" height="22" class="clinic-header-actions__review-icon" alt="">
            <span>4,54 (285)</span>
        </p>
        <a href="#" class="clinic-header-actions-link">Оставить отзыв</a>
        <button class="clinic-header-actions-btn">Запланировать посещение</button>
    </div>
</div>
