.clinic-header {
    display: flex;
    justify-content: space-between;
}

.clinic-ttl {
    display: flex;
    align-items: center;
}

.clinic-header__ttl {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2d333f;
}

.clinic-header__address {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    color: #2d333f;
    opacity: 0.5;
}

.clinic-header__license {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    color: #2d333f;
}

.clinic-header-actions {
    flex-shrink: 0;
    margin-left: 164px;
    text-align: right;
}

.clinic-header-actions__review {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: #2d333f;
}

.clinic-header-actions__review-icon {
    margin-right: 15px;
}

.clinic-header-actions-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #487ff1;
    text-decoration: underline;
}

.clinic-header-actions-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-top: 25px;
    padding: 0 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #487ff1;

    &:hover {
        background: #6896f5;
    }
}
.info_container {
    display: flex;
    padding-left: 66px;
    background: url("/img/icons/doctor.svg") no-repeat 0 6px;
    gap: 32px;
    flex-wrap: wrap;
}

.phone_container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 32px;
    line-height: 1.8;
    .phone_item {
        white-space: nowrap;
        .phone_ttl {
            font-size: 1.2rem;
        }

        .phone_number {
            font-size: 2rem;
            font-weight: 500;
        }
    }
    @media screen and (max-width: 1200px){
        line-height: 1.1;
        .phone_item {
            white-space: nowrap;
            .phone_ttl {
                font-size: 0.8rem;
            }

            .phone_number {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }


}
