.lk-rating-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  border: 2px #d3d3d3 solid;
  border-radius: 16px 8px;
  background-color: #f3f3f3;
  padding: 8px;

  &-item {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    flex-shrink: 1;
    width: 200px;


  }

  &-title {
    flex-grow: 1;
    text-overflow: ellipsis;
    display: inline;
    -webkit-line-clamp: 1;
    height: 1rem;
    overflow: hidden;
    white-space: nowrap;
  }

  &-rating {
  }
}
