.lk-rating-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  border: 3px #6896f5 solid;
  border-radius: 16px;
  padding: 8px;

  &-item {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    flex-shrink: 1;
    width: 200px;


  }

  &-title {
    flex-grow: 1;
    text-overflow: ellipsis;
    display: inline;
    -webkit-line-clamp: 1;
    height: 1rem;
    overflow: hidden;
    white-space: nowrap;
  }

  &-rating {
  }
}
