<div class="order_table">

    <div class="order_container cart-pack cart-pack--clinic">
        <div class="order_container_head">
            <app-contragent-header *ngIf="ctg" [contragent]="ctg"></app-contragent-header>
        </div>
    </div>

    <div class="order_tbl__head" *ngIf="(onOrdersGroups$ | async)?.length else empty">
        <div class="_row">
            <div class="order_tbl__head__item small">ID</div>
            <div class="order_tbl__head__item mid">Пользователь</div>
            <div class="order_tbl__head__item extra">ФИО</div>
            <div class="order_tbl__head__item extra">email</div>
            <div class="order_tbl__head__item long">Телефон</div>
            <div class="order_tbl__head__item long">Предпочитаемый канал связи</div>
            <div class="order_tbl__head__item long">Дата оформления</div>
            <div class="order_tbl__head__item mid">Статус</div>
            <div class="order_tbl__head__item mid">Сумма</div>
        </div>
    </div>

    <div class="order_tbl__body">
        <app-order-group class="_row"
                         *ngFor="let group of onOrdersGroups$ | async; trackBy: trackIt"
                         [orderGroup]="group"
                         [contragentId]="ctg.entId"
                         (refresh)="updater$.next(null)"
        ></app-order-group>
    </div>

</div>

<ng-template #empty>
    <div class="default" *ngIf="!isLoading">У данного контрагента нет заказов <br> удовлетворяющих критериям поиска</div>
</ng-template>
