<main class="main main-clinic page__main">
    <h1 class="visually-hidden">Конфигуратор клиник</h1>
    <app-menu class="menu"></app-menu>
    <div class="container search_container">
        <router-outlet></router-outlet>

        <!--    <aside class="main-clinic__messages muted">-->
        <!--      <div class="message"><img src="img/icons/close-red.svg" class="message__icon" alt="">-->
        <!--        <p class="message__txt">Ошибка авторизации. Проверьте правильность введеного логина и пароля.</p></div>-->
        <!--      <div class="message"><img src="img/icons/check-green.svg" class="message__icon" alt="">-->
        <!--        <p class="message__txt">Вы успешно записались на день открытых дверей в клинику</p></div>-->
        <!--      <div class="message message&#45;&#45;btn"><img src="img/icons/envelop-blue.svg" class="message__icon" alt="">-->
        <!--        <p class="message__txt">У вас новое сообщение</p>-->
        <!--        <button class="message__btn">Ответить</button>-->
        <!--      </div>-->
        <!--    </aside>-->
    </div>
</main>
