<div class="page_sector">
    <div class="page_sector_title">
        <span>{{ title || "" }} ({{ count || "0" }})</span>
        <div class="separator"></div>
        <i
            class="fas toggle-btn"
            [class.fa-chevron-up]="list.dataset['show'] === '1'"
            [class.fa-chevron-down]="list.dataset['show'] !== '1'"
            (click)="
                list.dataset['show'] = list.dataset['show'] === '1' ? '0' : '1'
            "
        ></i>
    </div>
    <div
        class="page_sector_body"
        #list
        [attr.data-show]="collapsed ? '0' : '1'"
    >
        <ng-content></ng-content>
    </div>
</div>
