<div class="page_sector">
    <div class="page_sector_title">
        <span>{{ title || "" }}</span>
        <div class="separator"></div>
        <i
            class="btn fa fa-lg fa-chevron-circle-down"
            [ngClass]="[
                list.dataset['show'] === '1'
                    ? 'fa-chevron-circle-up'
                    : 'fa-chevron-circle-down'
            ]"
            (click)="
                list.dataset['show'] = list.dataset['show'] === '1' ? '0' : '1'
            "
        ></i>
    </div>
    <div
        class="page_sector_body"
        #list
        [attr.data-show]="collapsed ? '0' : '1'"
    >
        <ng-content></ng-content>
    </div>
</div>
