:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .lk-title {
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
    &-subtitle {
      font-size: 0.8rem;
      text-overflow: ellipsis;
      display: inline;
      -webkit-line-clamp: 2;
      height: 1rem;
      overflow: hidden;
      max-width: 380px;
      white-space: nowrap;
    }
  }
}
