.muted {
  opacity: 0.5;
  filter: grayscale(1);
}
.img_clinic {
  width: 100%;
  height: 100%;
}
.txtUnWrap {
  height: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.readmore {
  font-weight: bold;
  color: #2d333f;
  cursor: pointer;
  white-space: nowrap;
}
