<div class="dms_container">
    <div class="ttl_container">
        <h2 class="title">Есть страховой полис ДМС?</h2>
    </div>
    <form class="dms_form">
        <div class="form-group">
            <select class="form-control">
                <option>Страховая компания</option>
                <option>Ингосстрах</option>
                <option>Спасские ворота</option>
                <option>Тинькофф страхование</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Введите номер полиса" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Введите ваше ФИО" />
        </div>
        <button class="btn btn-light btn-primary">Сохранить</button>
    </form>
</div>
