<ng-container *ngTemplateOutlet="activeTemplate"></ng-container>

<ng-template #mainTpl>
    <div
        class="lk-feedback-message-box"
        [ngClass]="{ 'lk-feedback-message-main': mode === 'main' }"
    >
        <div class="lk-feedback-message-date">{{ date }}</div>
        <app-lk-bubble
            [text]="text"
            [mode]="mode"
            [color]="color"
        ></app-lk-bubble>
    </div>
</ng-template>
<ng-template #answerTpl>
    <div class="lk-feedback-message-box">
        <div class="lk-feedback-message-date">{{ date }}</div>
        <app-lk-avatar
            *ngIf="fromUser"
            [title]="fromUser.first_name"
            [subtitle]="fromUser.last_name"
            [photoID]="fromUser.photo_id"
        ></app-lk-avatar>
        <app-lk-bubble
            [text]="text"
            [mode]="mode"
            [color]="color"
        ></app-lk-bubble>
    </div>
</ng-template>
<ng-template #replyTpl>
    <div class="lk-feedback-message-box">
        <div class="lk-feedback-message-date lk-feedback-message-date-right">
            {{ date }}
        </div>
        <app-lk-bubble
            [text]="text"
            [mode]="mode"
            [color]="color"
        ></app-lk-bubble>
        <app-lk-avatar
            *ngIf="fromUser"
            [title]="fromUser.first_name"
            [subtitle]="fromUser.last_name"
            [photoID]="fromUser.photo_id"
        ></app-lk-avatar>
    </div>
</ng-template>
