<div class="menu__header">
    <a href="/" class="logo"><img src="img/logo.png"
                                  srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
                                  class="logo__icon" alt=""></a>
</div>
<div class="menu__body">
    <ul class="menu__list">
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/chat.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Тест</span>
                <span class="menu__link-badge">13</span>
            </a>
        </li>
    </ul>
</div>
<div class="menu__footer">
    <button class="menu__footer-btn" (click)="logout()">
        <img src="img/icons/exit.svg" class="menu__footer-btn-icon" alt="">
        <span class="menu__footer-btn-txt">Выйти</span></button>
</div>
