.map_container {
    width: 100%;
    height: 100%;
    background-color: #7d828a;
    position: relative;
    z-index: 200;
}

.address_container {
    position: absolute;
    z-index: 300;
    transform: translate(10px, -50px);
    min-width: 50%;
}
