<div class="map_container" #map id="test_map"></div>

<ng-container *ngIf="{
                        suggestion: addressSuggestions$ | async
                    } as data">
    <div class="address_container">
        <ng-autocomplete
            [data]="data.suggestion || []"
            [searchKeyword]="'value'"
            placeholder="Начните вводить адрес"
            (selected)='selectAddress($event)'
            (inputChanged)='searchAddress($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            [customFilter]="filterFn"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.value"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>

</ng-container>

