.inline {
    margin: 10px 15px ;
    min-width: 280px;
}

.filter_block {
    display: flex;
    background-color: white;
}
.small {
    width: 50px;
}
.mid {
    width: 150px;
}
.long {
    width: 280px;
}
.extra {
    width: 380px;
}
.order_table {
    .order_tbl__head {
        ._row {
            background-color: whitesmoke;
            display: flex;
            flex: 1;
            .order_tbl__head__item {
                margin: 15px;
            }
        }
    }
    .order_tbl__body {
        ._row {
            background-color: #ffffff;
            display: flex;
            flex: 1;
            &:nth-child(odd) {
                background-color: #DBE9FF;
            }
            .order_tbl__item {
                margin: 15px;
            }
        }
    }
}
.ctg_container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    .ctg_head {
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-wrap: wrap;
        background-color: #F3F3F3;
        .header_led {
            height: 8px;
            width: 100%;
        }
        .ctg_info {
            display: flex;
            flex-grow: 1;
            .ctg_features {
                display: flex;
                flex-direction: column;
                margin: 5px 15px;
                justify-content: space-between;
                .ctg_features__item {
                    display: flex;
                    justify-content: space-between;
                    .answer {
                        width: 48px;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #ffffff;
                        border: 1px solid grey;
                        &.no {
                            border-color: darkred;
                        }
                        &.yes {
                            border-color: green;
                        }
                    }
                }
                .cart-pack-options__item {
                    width: 100%;
                }
            }
            .cart-pack__body-title {
                width: 40%;
                border-bottom: none;
                margin-right: 28px;
            }
            .cart-pack-options {
                border-bottom: none;
            }
        }
    }
    .ctg_orders {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        .section__title{
            width: 100%;
            font-size: 16px;
            border-bottom: 2px solid grey;
        }
    }
}
.btn_close {
    width: 49px;
    height: 35px;
    background: url("/img/icons/lk_close_btn_icon.png") no-repeat;
    background-size: cover;
    align-self: center;
    margin-left: auto;
    margin-right: 15px;
}
.order_actions{
    display: flex;
    margin-left: auto;
    margin-right: 16px;
    .order_btn {
        width: 24px;
        height: 24px;
        background-size: cover;
        margin-right: 16px;
        cursor: pointer;

        &.order_resolve {
            background-image: url("/img/icons/resolve_btn.png");
        }
        &.order_reject {
            background-image: url("/img/icons/reject_btn.png");
        }
        &.order_edit {
            background-image: url("/img/icons/edit_btn.png");
        }
        &.order_remove {
            background-image: url("/img/icons/remove_btn.png");
        }
    }
}
.cart-pack-item__inner {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}


