<h4 class="lk_ttl" *ngIf="selectedContragents$ | async as ctgs">Стол заказов
    <a class="ctg_ttl_link" *ngFor="let c of ctgs">{{ c.title }},&nbsp;</a>
</h4>
<div class="filter_block" [formGroup]="filterForm">
    <div class="form-group inline">
        <label for="group_mode">Тип сортировки</label>
        <select class="form-control" id="group_mode" formControlName="group_mode">
            <option value="order">По заказу</option>
            <option value="session">По сессии</option>
        </select>
    </div>
    <div class="form-group inline">
        <label for="status">Статус заказа</label>
        <select class="form-control" id="status" formControlName="status">
            <option value="inwork">В работе</option>
            <option value="incomplete">Завершенные</option>
            <option value="inplan">Планируются</option>
        </select>
    </div>
    <div class="form-group inline">
        <label for="section_key">Тип контрагента</label>
        <select class="form-control" id="section_key" formControlName="section_key">
            <option value="clinic">Роддом</option>
        </select>
    </div>
    <div class="form-group inline muted">
        <label for="period_from">Период заказа - начало</label>
        <input type="date"
               id="period_from"
               class="form-control">
    </div>
    <div class="form-group inline muted">
        <label for="period_until">Период заказа - окончание</label>
        <input type="date"
               id="period_until"
               class="form-control">
    </div>
</div>
<app-contragent></app-contragent>
