<h1 class="lk_ttl">Стол заказов
    <a class="ctg_ttl_link">Родильный дом Плетнева</a>,
    <a class="ctg_ttl_link">Родильный дом Якушенко</a>
</h1>
<div class="filter_block">
    <div class="form-group inline">
        <label for="category">Категория заказа</label>
        <select class="form-control" id="category" formControlName="status_type">
            <option value="null">Не выбрано</option>
<!--            <option *ngFor="let item of statuses$ | async" [value]="item.id">{{item.title}}</option>-->
        </select>
    </div>
    <div class="form-group inline">
        <label for="status">Статус заказа</label>
        <select class="form-control" id="status" formControlName="status_type">
            <option value="null">Не выбрано</option>
            <!--            <option *ngFor="let item of statuses$ | async" [value]="item.id">{{item.title}}</option>-->
        </select>
    </div>
    <div class="form-group inline">
        <label for="period_from">Период заказа - начало</label>
        <input type="date"
               id="period_from"
               class="form-control"
               formControlName="last_name">
    </div>
    <div class="form-group inline">
        <label for="period_until">Период заказа - окончание</label>
        <input type="date"
               id="period_until"
               class="form-control"
               formControlName="last_name">
    </div>
</div>

<div class="order_table">
    <div class="order_tbl__head">
        <div class="_row">
            <div class="order_tbl__head__item small">ID</div>
            <div class="order_tbl__head__item mid">Пользователь</div>
            <div class="order_tbl__head__item extra">ФИО</div>
            <div class="order_tbl__head__item extra">email</div>
            <div class="order_tbl__head__item long">Телефон</div>
            <div class="order_tbl__head__item mid">Предпочитаемый канал связи</div>
            <div class="order_tbl__head__item mid">Дата оформления</div>
            <div class="order_tbl__head__item mid">Статус</div>
            <div class="order_tbl__head__item mid">Контрагенты</div>
        </div>
    </div>

    <div class="order_tbl__body">
        <div class="_row">
            <div class="order_tbl__item small">251</div>
            <div class="order_tbl__item mid">LanaDark</div>
            <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
            <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
            <div class="order_tbl__item long">+7 900 800 70 60</div>
            <div class="order_tbl__item mid"></div>
            <div class="order_tbl__item mid">27.01.2020 20:03:20</div>
            <div class="order_tbl__item mid">Ожидание</div>
            <div class="order_tbl__item mid">#1 #2</div>
        </div>
        <div class="_row">
            <div class="order_tbl__item small">251</div>
            <div class="order_tbl__item mid">LanaDark</div>
            <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
            <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
            <div class="order_tbl__item long">+7 900 800 70 60</div>
            <div class="order_tbl__item mid"></div>
            <div class="order_tbl__item mid">27.01.2020 20:03:20</div>
            <div class="order_tbl__item mid">Ожидание</div>
            <div class="order_tbl__item mid">#1 #2</div>
        </div>
        <div class="_row">
            <div class="order_tbl__item small">251</div>
            <div class="order_tbl__item mid">LanaDark</div>
            <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
            <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
            <div class="order_tbl__item long">+7 900 800 70 60</div>
            <div class="order_tbl__item mid"></div>
            <div class="order_tbl__item mid">27.01.2020 20:03:20</div>
            <div class="order_tbl__item mid">Ожидание</div>
            <div class="order_tbl__item mid">#1 #2</div>
        </div>
        <div class="_row">
            <div class="ctg_container cart-pack cart-pack--clinic">
                <div class="ctg_head">
                    <div class="header_led" style="background-color: magenta"></div>
                    <div class="ctg_info">
                        <div class="cart-pack__body-title">
                            <p class="cart-pack__body-title-text">
                                ФГБУ «Национальный медицинский исследовательский
                                центр акушерства, гинекологии и перинатологии
                                имени академика В.И.Кулакова»</p>
                            <span class="badge badge-danger" *ngIf="true">Не валидный пакет</span>
                            <span class="badge badge-success" *ngIf="false">Валидный пакет</span>
                        </div>
                        <div class="ctg_features">
                            <div class="ctg_features__item">
                                <span class="cart-pack-options__item-name">Посещение мамы и малыша в палате</span>
                                <span class="cart-pack-options__item-value answer no">Нет</span>
                            </div>
                            <div class="ctg_features__item">
                                <span class="cart-pack-options__item-name">Наличие детской реанимации</span>
                                <span class="cart-pack-options__item-value answer yes">Да</span>
                            </div>
                            <div class="ctg_features__item">
                                <span class="cart-pack-options__item-name">Женская консультация при роддоме</span>
                                <span class="cart-pack-options__item-value answer yes">Да</span>
                            </div>
                            <div class="ctg_features__item">
                                <span class="cart-pack-options__item-name">В палате с малышом</span>
                                <span class="cart-pack-options__item-value answer yes">Да</span>
                            </div>
                        </div>
                        <div class="ctg_status_action">
                            <div class="form-group inline">
                                <label for="status_action">Изменить статус заказа</label>
                                <select class="form-control" id="status_action" formControlName="status_type">
                                    <option value="null">Не выбрано</option>
                                    <!--            <option *ngFor="let item of statuses$ | async" [value]="item.id">{{item.title}}</option>-->
                                </select>
                            </div>
                            <button class="filter__btn filter__btn--blue order_status_btn">Применить</button>
                        </div>
                        <div class="btn_close"></div>
                    </div>
                </div>
                <div class="ctg_orders">
                    <p class="cart-pack-item__title section__title">Родовспоможение</p>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <div class="order_btn order_resolve inactive"></div>
                            <div class="order_btn order_reject inactive"></div>
                            <div class="order_btn order_edit inactive"></div>
                            <div class="order_btn order_remove inactive"></div>
                        </div>
                    </div>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <div class="order_btn order_resolve inactive"></div>
                            <div class="order_btn order_reject inactive"></div>
                            <div class="order_btn order_edit inactive"></div>
                            <div class="order_btn order_remove inactive"></div>
                        </div>
                    </div>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <div class="order_btn order_resolve inactive"></div>
                            <div class="order_btn order_reject inactive"></div>
                            <div class="order_btn order_edit inactive"></div>
                            <div class="order_btn order_remove inactive"></div>
                        </div>
                    </div>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <div class="order_btn order_resolve inactive"></div>
                            <div class="order_btn order_reject inactive"></div>
                            <div class="order_btn order_edit inactive"></div>
                            <div class="order_btn order_remove inactive"></div>
                        </div>
                    </div>
                    <p class="cart-pack-item__title section__title">Консультации</p>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <button class="filter__btn filter__btn--blue">Выбрать услугу</button>
                        </div>
                    </div>
                    <div class="order">
                        <div class="cart-pack-item__inner-avatar">
                            <img src="/no_image.png" >
                        </div>
                        <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                        <div class="cart-pack-item__inner-value">
                            <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                            <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                        </div>
                        <p class="cart-pack-item__inner-price">50 000 руб.</p>
                        <div class="order_actions">
                            <button class="filter__btn filter__btn--blue">Выбрать услугу</button>
                        </div>
                    </div>
                    <button class="filter__btn filter__btn--blue order_status_btn">Добавить услугу</button>
                </div>
            </div>
        </div>
        <div class="_row">
            <div class="order_tbl__item small">251</div>
            <div class="order_tbl__item mid">LanaDark</div>
            <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
            <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
            <div class="order_tbl__item long">+7 900 800 70 60</div>
            <div class="order_tbl__item mid"></div>
            <div class="order_tbl__item mid">27.01.2020 20:03:20</div>
            <div class="order_tbl__item mid">Ожидание</div>
            <div class="order_tbl__item mid">#1 #2</div>
        </div>
        <div class="_row">
            <div class="order_tbl__item small">251</div>
            <div class="order_tbl__item mid">LanaDark</div>
            <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
            <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
            <div class="order_tbl__item long">+7 900 800 70 60</div>
            <div class="order_tbl__item mid"></div>
            <div class="order_tbl__item mid">27.01.2020 20:03:20</div>
            <div class="order_tbl__item mid">Ожидание</div>
            <div class="order_tbl__item mid">#1 #2</div>
        </div>
    </div>
</div>
