.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 774px;
}

.cart-header__title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $black;
}

.cart-header__title-img {
    margin-right: 15px;
}

.cart-header__btn-link {
    display: flex;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.19;
    color: $blue;
    border: none;
    background: transparent;
    cursor: pointer;
}
