.checkbox {
    position: relative;
    display: block;

    &--end {
        .checkbox__input {
            & + .checkbox__label {
                padding: 0 37px 0 0;

                &::before {
                    right: 0;
                    left: initial;
                }
            }

            &:checked + .checkbox__label::after {
                right: 4px;
                left: initial;
            }
        }
    }
}

.checkbox__input {
  display: none;

  & + .checkbox__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    color: $black;
    margin: 0;
    position: relative;
    padding: 0 0 0 37px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -11px;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 5px;
      border: solid 1px $blue;
      background: transparent;
    }
  }

  &:checked + .checkbox__label::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background-color: $blue;
  }
}
