.clinics__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.emptylist {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.map__mode .clinics__list {
    padding: 0px 5px;
    width: 50%;
    height: 75vh;
    overflow-y: scroll;
    margin-bottom: 5px;
}

.map__mode .clinics__item {
    padding: 8px 0;
}

.clinics__item {
    position: relative;
    margin: 0;
    padding-top: 8px;

    &::after {
        position: absolute;
        content: "";
        height: 1px;
        right: 0;
        bottom: 0;
        left: 234px;
        background: rgba(45, 51, 63, 0.1);
    }

    &:last-child::after {
        display: none;
    }
}

.result__body--map {
    .clinics__list {
        width: calc(100% - 468px);
        border-top: 2px solid rgba(45, 51, 63, 0.1);
    }

    .clinics__item {
        padding: 0;

        &::after {
            left: 25px;
        }
    }
}
