.contacts {
    text-align: right;
}

@media screen and (max-width: 480px) {
    .contacts {
        text-align: right;
        flex: 1 0 auto;
        justify-content: center;
        width: 100%;
    }

    .contacts__txt {
        font-size: 14px;
        line-height: 1.57;
        color: #2d333f;
        margin: 0;
        flex-basis: 100%;
        text-align: center;
    }
    .contacts__phone {
        flex-basis: 100%;
        text-align: center;
    }
}

.contacts__txt {
    font-size: 14px;
    line-height: 1.57;
    color: $black;
    margin: 0;
}

.contacts__phone {
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.79;
    color: $black;
    margin: 5px 0 0;
    text-decoration: none;
}

.contacts__btn {
    background-color: #edf2fe;
    color: $blue;

    margin-left: 10px;
    &:hover {
        background-color: transparentize($blue, 0.7);
    }
}

.admin__btn {
    background-color: #feeded;
    color: $red;

    margin-left: 10px;
    &:hover {
        background-color: transparentize($red, 0.7);
    }
}
