.content {
  max-width: 1022px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.under-construction {
    padding: 15px 24px;
    font-size: 2.2rem;
    color: #487ff1;
    text-align: center;
    flex-grow: 1;
    text-decoration: overline;
}

.muted {
  opacity: 0.6;
  filter: grayscale(0.8);
  pointer-events: none;
}
