.footer {
    padding: 68px 0 25px;
    background: $white;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__copyright {
    margin: 10px 0 0;
    flex: 1 0;
}

.footer__legal {
    display: inline-block;
    vertical-align: top;
    flex: 1 0;
}

.footer__nav {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    flex: 1 0;
}

.footer__contacts {
    display: inline-block;
    vertical-align: top;
    flex: 1 0;
}

.footer__info {
    margin: 50px 0 0;

    &-txt {
        display: block;
        font-size: 12px;
        line-height: 1.34;
        color: rgba(45, 51, 63, 0.5);
        margin: 0;

        &--underline {
            text-decoration: underline;
        }
    }
}

.footer__list {
    list-style: none;
    margin: 13px 0 0;
    padding: 0;

    &-item {
        margin: 0 0 10px;
    }
}

.footer__link {
    display: block;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.25;
    color: $black;
    margin: 0;
    text-decoration: none;

    &:hover {
        color: $blue;
    }

    &-img {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: auto;
        margin: 0 11px 0 0;
    }
}

.footer__social {
    margin: 56px 0 0;
}

.footer__txt {
    font-size: 16px;
    line-height: 1.25;
    color: $black;
    margin: 0;
}
