$skype-color: #00aff0;
$whatsapp-color: #128c7e;
$telegram-color: #0088cc;
$viber-color: #59267c;
.fa-viber {
    color: $viber-color;
}
.fa-whatsapp {
    color: $whatsapp-color;
}
.fa-skype {
    color: $skype-color;
}
.fa-telegram-plane {
    color: $telegram-color;
}