.logo {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.logo__icon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 100%;
  margin: 0 12px 0 0;
  border-radius: 10px;
}

.main-clinic .logo {
  height: 36px;
  width: auto;
}
