.map {
    display: none;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 10%);
}

.map__mode .map {
    display: block;
}

.map__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
