.message {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    padding: 15px 53px 15px 17px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 0 48px 0 rgba(85, 85, 85, 0.1);
    background-color: $white;

    &__icon {
        width: 24px;
        height: 24px;
        margin: 0 17px 0 0;
    }

    &__txt {
        margin: 0;
        font-size: 12px;
        line-height: 1.17;
        color: $dark;
    }

    &--btn {
        align-items: center;
        padding: 15px 106px 15px 17px;
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: none;
        padding: 15px 17px 15px 18px;
        border-radius: 0 10px 10px 0;
        border-left: 1px solid rgba(85, 85, 85, 0.1);
        font-size: 12px;
        line-height: 1.17;
        color: $blue;
        background: $white;
    }

    & + .message {
        margin-top: 35px;
    }
}
