.selector {
  position: relative;
  display: flex;
  align-items: center;
}

.selector__txt {
  margin: 0 5px 0 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: left;
  color: $black;
}

.selector__item {
  margin: 0 0 0 10px;
}

.selector__input {
  display: none;

  &:checked + .selector__label {
    opacity: 1;
  }
}

.selector__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  opacity: 0.5;
}
