.select {
    position: relative;
    background-color: $white;
    border-radius: 5px;
    border: solid 1px rgba(45, 51, 63, 0.1);
    padding: 4px 2px 2px;
    font-size: 0;
}

.select__btn {
    position: absolute;
    right: 10px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    padding: 0;
}

.select__btn-icon {
    width: 12px;
    height: 7px;
}

.select__placeholder {
    font-size: 12px;
    line-height: 27px;
    text-align: left;
    opacity: 0.5;
    color: $black;
}

.select__tag {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 2px 2px;
    padding: 0 0 0 8px;
    background: $blue;
    border-radius: 3px;
    font-size: 0;
    white-space: nowrap;
}

.select__tag-txt {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: $white;
    white-space: nowrap;
}

.select__tag-btn {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.select__tag-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 2px 2px;
    padding: 7px 6px 8px 8px;
    background: transparent;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.14;
    color: $black;
    cursor: pointer;
    white-space: nowrap;
}
