.specialists-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 25px
}

.specialists-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 100%;
    padding: 20px 0 0;
    text-align: center;
    border-radius: 5px;
    background: #fff url("../../img/specialists-cards/specialist-card-bg.png") no-repeat 0 0 /contain;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.03);
    //overflow: hidden;

    &.active {
        background: #487ff1 url("../../img/clinic-cards/clinic-card-active-bg.png") no-repeat 0 0 / 100%;
        color: #fff;

        &.invalid {
            background-color: #862a3f;

            .clinic-card-controls__btn {
                background: #487ff1;

                &-check {
                    background: #862a3f url("../../img/icons/close-solid-white.svg") no-repeat center center;
                    border-radius: 0 5px 0 0;
                    background-size: 44.5px;
                    margin-top: -1px;
                }

                &-favorites {
                    background: #862a3f url("../../img/icons/heart-solid-white.svg") no-repeat;
                }
            }
        }

        .specialists-card__category {
            color: #fff;
            border-color: #fff;
        }

        .specialists-card__avatar {
            border-color: #fff;
            background: #487ff1;
        }

        .specialists-card__name {
            color: #fff;

            &:before {
                background: #fff;
            }
        }

        .specialists-card__exp {
            color: #eee;
        }

        .specialists-card__price {
            color: #fff;
        }

        .specialists-card__position {
            color: rgba(255, 255, 255, 0.8);

            &:before {
                background: #fff;
            }
        }

        .clinic-card-controls__btn {
            background: #487ff1;

            &-check {
                background: #487ff1 url("../../img/icons/close-solid-white.svg") no-repeat center center;
                border-radius: 0 5px 0 0;
                background-size: 44.5px;
                margin-top: -1px;
            }

            &-favorites {
                background: #487ff1 url("../../img/icons/heart-solid-white.svg") no-repeat;
            }
        }

        .specialists-card__link-review {
            background: #487ff1;
            color: #ffffff;

            .specialists-card__link-review-badge {
                background-color: rgba(255, 255, 255, 0.15);
                color: #fff;
            }
        }

        .specialists-card__btn-question {
            background: #ffffff;
            color: #487ff1;
        }
    }

    &.admin {
        .specialists-card__actions-admin {
            display: block;
        }

        .specialists-card__actions-user {
            display: none;
        }
    }

    &:hover {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    }
}

.specialists-card__category {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: .125em;
    font-size: 13px;
    font-weight: bold;
    color: #487ff1;
    border-radius: 50px;
    border: 2px solid #487ff1;
}

.specialists-card__avatar {
    width: 130px;
    height: 130px;
    margin: 0;
    //padding: 3px;
    border: solid 2px rgba(45, 51, 63, 0.1);
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.specialists-card__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.specialists-card__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    padding: 0 40px;
}

.specialists-card__name {
    position: relative;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #487ff1;

    &:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #487ff1;
    }
}

.specialists-card__exp {
    margin: 14px 0 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: rgba(45, 51, 63, 0.7);

    & + & {
        margin: 5px 0 0;
    }
}

.specialists-card__position {
    position: relative;
    margin: 16px 0 0;
    padding-top: 9px;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(45, 51, 63, 0.7);

    &:before {
        position: absolute;
        content: "";
        display: block;
        left: 50%;
        top: 0;
        width: 100px;
        height: 1px;
        margin-left: -50px;
        background: rgba(45, 51, 63, 0.2);
    }
}

.specialists-card__price {
    margin: 20px 0 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: rgba(45, 51, 63, 0.7);
}

.specialists-card__actions {
    width: 100%;
    margin-top: auto;
}

.specialists-card__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border: none;
    background: $blue;

    &:hover {
        background: $light-blue;
    }
}

.specialists-card__actions-checkbox {
    margin: 8px 0;

    .checkbox__input + .checkbox__label {
        font-size: 12px;
        line-height: 22px;
    }
}

.accommodation-card__btn-del {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #ef424c;
    text-align: center;
    white-space: nowrap;
    border: none;
    background: #fff;

    &:hover {
        color: #ef6069;
    }

    &:before {
        position: absolute;
        content: "";
        display: block;
        right: 10px;
        left: 10px;
        top: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
    }
}

.specialists-card__actions-user {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.specialists-card__link-review {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: auto;
    margin: 0;
    padding: 0 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #487ff1;
    text-align: center;
    border: none;
    background: #fff;

    .specialists-card__link-review-badge {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 5px 4px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        color: #487ff1;
        border-radius: 5px;
        background-color: rgba(72, 127, 241, 0.15)
    }

    &:hover {
        text-decoration: none;
        color: #487ff1;
    }
}

.specialists-card__btn-question {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: auto;
    margin: 0;
    padding: 0 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #fff;
    text-align: center;
    border: none;
    background: $blue;
    white-space: nowrap;

    &:hover {
        background: $light-blue;
    }
}

.specialists-card__actions-admin {
    display: none;
}
