<div class="profile_container">
    <div class="profile_header"></div>
    <div class="profile_body">
        <form class="profile-form">
            <div class="form-group half">
                <label for="name">Имя</label>
                <input type="text" id="name" placeholder="Введите имя" class="form-control">
            </div>
            <div class="form-group half">
                <label for="family">Фамилия</label>
                <input type="text" id="family" placeholder="Введите фамилию" class="form-control">
            </div>
            <div class="form-group half">
                <label for="patronic">Отчество</label>
                <input type="text" id="patronic" placeholder="Введите фамилию" class="form-control">
                <small class="form-text text-muted">Если имеется</small>
            </div>
            <div class="form-group half">
                <label for="patronic">Статус</label>
                <input type="text" id="status" placeholder="Ваш статус" class="form-control">
                <small class="form-text text-muted">Будет использован для подбора персональных предложений</small>
            </div>
            <div class="form-group nogrow">
                    <label for="multi_pregnant">Многоплодная беременность</label>
                    <input type="checkbox" id="multi_pregnant" class="form-control">
            </div>
            <div class="form-group third">
                <label for="weight">Вес</label>
                <input type="text" id="weight" placeholder="Введите вес" class="form-control">
            </div>
            <div class="form-group third">
                <label for="height">Рост</label>
                <input type="text" id="height" placeholder="Введите рост" class="form-control">
            </div>
            <div class="form-group third">
                <label for="size">Размер одежды</label>
                <input type="text" id="size" placeholder="Введите размер" class="form-control">
            </div>
        </form>
    </div>
    <div class="profile_footer">
        <button class="filter__link">Отменить изменения</button>
        <button class="filter__btn filter__btn--green">Применить</button>
    </div>
</div>
