:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    color: #efefef;

    &.online {
        color: #0cc500;
    }
}

.nav-item {
    cursor: pointer;
}

.page_body {
    flex-grow: 1;
}

.profile_container {
    display: flex;
    width: 100%;
    max-width: 1180px;
    flex-direction: column;
}

.profile_ttl__container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: space-around;
}

.profile_ttl {
    font-size: 1.75rem;
}

.profile_ttl_accent {
    color: #4c4c4c;
}

.profile_avatar {
    &:hover {
        .upload_photo__icon {
            cursor: pointer;
            top: -32px;
            opacity: 1;
        }
    }
}

.profile_avatar__img {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.profile_header {
    display: flex;
    padding: 16px 24px;
    gap: 16px;

    .profile_action_block {
        display: flex;
        align-items: center;
        gap: 8px;

        .profile_action_text {
            font-size: large;
        }
    }
}

.upload_photo__icon {
    text-align: center;
    position: relative;
    color: white;
    opacity: 0;
    top: 0;
    display: block;
    transition: all 0.25s ease-in;
}
