<div class="feedback_block target_mode">
    <app-rate [rate]="feedback?._summary?.avr"></app-rate>
    <!-- карточка -->
    <app-lk-user-card
        *ngIf="feedback.user"
        [user]="feedback.user"
    ></app-lk-user-card>

    <!-- шеврон -->
    <!--        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>-->

    <!-- шеврон -->
    <!--        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>-->

    <app-lk-feedback-message
        style="margin-left: 28px"
        [text]="feedback?.comment?.text"
        [date]="feedback?.datetime_update"
        [editMode]="false"
        [mode]="'answer'"
        [replies]="feedback?.comment?.replies"
    ></app-lk-feedback-message>

    <!-- лайки -->
    <app-likes
        [count]="feedback?.likes?.length ?? 0"
        [self]="feedback.likeOwner"
        (click)="setLike(feedback.id)"
    ></app-likes>
    <app-likes
        [count]="feedback?.dislikes?.length ?? 0"
        [negative]="true"
        [self]="feedback.dislikeOwner"
        (click)="setLike(feedback.id, true)"
    ></app-likes>

    <!-- экшены -->
    <div class="action_block" *ngIf="isSelfOwner(feedback.user_id)">
        <i
            class="fas fa-edit fa-2x action_button"
            *ngIf="feedback.canEdit"
            (click)="selfEdit()"
        ></i>
        <i
            class="far fa-trash-alt fa-2x action_button"
            *ngIf="feedback.canRemove"
            (click)="selfDelete()"
        ></i>
    </div>
    <div class="action_block" *ngIf="!isSelfOwner(feedback.user_id)">
        <i
            class="fa-solid fa-reply fa-2x action_button"
            (click)="selfReply()"
        ></i>
    </div>
</div>
<ng-container *ngIf="feedback.comment?.replies">
    <div class="replies" *ngIf="{ replies: replies$ | async } as data">
        <ng-container *ngFor="let reply of data.replies">
            <app-lk-feedback-message
                [text]="reply.text"
                [date]="feedback?.datetime_update"
                [editMode]="false"
                [mode]="'reply'"
                [isOfficial]="reply.status === 'official'"
                [fromUser]="userByFeedback(reply) | async"
            ></app-lk-feedback-message>
        </ng-container>
    </div>
</ng-container>
