<ng-template #blankuser>
    <img class="profile_avatar__img" src="/img/blank-user.jpg">
</ng-template>

<ng-template #blankuserinfo>
    <p>Идет загрузка данных...</p>
</ng-template>


<div class="menu__header">
    <a href="/" class="logo"><img src="img/logo.png"
                                  srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
                                  class="logo__icon" alt=""></a>
</div>
<div class="menu__body">
    <ng-container *ngIf="{
            access: onUserAccess$ | async,
            photo: userPhoto$ | async,
            signal: userPhotoSignal$ | async,
            user: user$ | async
         } as userData">
        <div class="menu__user menu-user" *ngIf="userData.access">
            <div class="menu__user-avatar">

                <ng-container *ngIf="userData.photo | async as image else blankuser">
                    <img
                        [src]="image"
                        (error)="userData.signal.next(null)"
                        class="menu__user-avatar-img" [alt]="getUserName(userData.user)">
                </ng-container>

            </div>
            <p class="menu__user-name" *ngIf="userData?.user else blankuserinfo">{{getUserName(userData.user)}}</p>
            <a [routerLink]="['/system', 'profile']" class="menu__user-btn"><img src="img/icons/settings.svg" class="menu__user-btn-icon" alt=""></a>
        </div>
    </ng-container>

    <ul class="menu__list">
        <!--<li class="menu__item">
            <a [routerLink]="['/']" class="menu__link"><img src="img/icons/home.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Главная</span>
            </a>
        </li>-->
        <li class="menu__item">
            <span class="menu__link menu__link--sub-list">
                <img src="img/icons/toddler.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Направления</span>
            </span>
            <ul class="menu__sub-list">
                <li class="menu__sub-item muted">
                    <a class="menu__link">
                        <span class="menu__link-txt">Планирование</span>
                    </a>
                </li>
                <li class="menu__sub-item muted">
                    <a href="javascript:void(0);" class="menu__link">
                        <span class="menu__link-txt">Ведение</span>
                    </a>
                </li>
                <li class="menu__sub-item">
                    <a [routerLink]="['/system', 'search', 'clinics']" class="menu__link">
                        <span class="menu__link-txt">Родовспоможение</span>
                    </a>
                </li>
                <li class="menu__sub-item muted">
                    <a href="javascript:void(0);" class="menu__link">
                        <span class="menu__link-txt">Послеродовой период</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/chat.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Сообщения</span>
                <span class="menu__link-badge">13</span>
            </a>
        </li>
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/shape.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Хочу быть в форме</span>
            </a>
        </li>
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/bookmark.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Закладки</span>
            </a>
        </li>
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/bell.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Уведомления</span>
            </a>
        </li>
        <li class="menu__item muted">
            <a href="javascript:void(0);" class="menu__link">
                <img src="img/icons/business.svg" class="menu__link-icon" alt="">
                <span class="menu__link-txt">Магазин (скоро)</span>
            </a>
        </li>
        <li class="menu__item">
            <a [routerLink]="['/system', 'cart']" class="menu__link">
                <img src="img/icons/shopping-cart.svg" class="menu__link-icon" alt="">
            <span class="menu__link-txt">Корзина</span>
            </a>
        </li>
    </ul>
</div>
<div class="menu__footer muted">
    <a href="javascript:void(0);" class="menu__footer-link">О нас</a>
    <button class="menu__footer-btn" (click)="authService.logout()">
        <img src="img/icons/exit.svg" class="menu__footer-btn-icon" alt="">
        <span class="menu__footer-btn-txt">Выйти</span></button>
</div>
