<div class="menu__header">
    <a href="/" class="logo"><img src="img/logo.png"
                                  srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
                                  class="logo__icon" alt=""></a>
</div>
<div class="menu__body muted">
    <div class="menu__user menu-user">
        <div class="menu__user-avatar"><img src="img/ava.png" srcset="img/ava@2x.png 2x, img/ava@3x.png 3x"
                                            class="menu__user-avatar-img" alt=""></div>
        <p class="menu__user-name">Протасова Анна</p>
        <button class="menu__user-btn"><img src="img/icons/settings.svg" class="menu__user-btn-icon" alt=""></button>
    </div>
    <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link"><img src="img/icons/home.svg" class="menu__link-icon"
                                                                   alt=""> <span
            class="menu__link-txt">Главная</span></a></li>
        <li class="menu__item"><span class="menu__link menu__link--sub-list"><img src="img/icons/toddler.svg"
                                                                                  class="menu__link-icon" alt=""> <span
            class="menu__link-txt">Направления</span></span>
            <ul class="menu__sub-list">
                <li class="menu__sub-item"><a href="javascript:void(0);" class="menu__link"><span
                    class="menu__link-txt">Планирование</span></a></li>
                <li class="menu__sub-item"><a href="javascript:void(0);" class="menu__link"><span
                    class="menu__link-txt">Ведение</span></a>
                </li>
                <li class="menu__sub-item"><a href="javascript:void(0);" class="menu__link"><span
                    class="menu__link-txt">Родовспоможение</span></a></li>
                <li class="menu__sub-item"><a href="javascript:void(0);" class="menu__link"><span
                    class="menu__link-txt">Послеродовой период</span></a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/chat.svg"
                                                                                     class="menu__link-icon"
                                                                                     alt=""> <span
            class="menu__link-txt">Сообщения</span>
            <span class="menu__link-badge">13</span></a></li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/shape.svg"
                                                                                     class="menu__link-icon"
                                                                                     alt=""> <span
            class="menu__link-txt">Хочу быть в форме</span></a>
        </li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/bookmark.svg"
                                                                                     class="menu__link-icon"
                                                                                     alt=""> <span
            class="menu__link-txt">Закладки</span></a>
        </li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/bell.svg"
                                                                                     class="menu__link-icon"
                                                                                     alt=""> <span
            class="menu__link-txt">Уведомления</span></a></li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/business.svg"
                                                                                     class="menu__link-icon"
                                                                                     alt=""> <span
            class="menu__link-txt">Магазин (скоро)</span></a></li>
        <li class="menu__item"><a href="javascript:void(0);" class="menu__link"><img src="img/icons/shopping-cart.svg"
                                                                                     class="menu__link-icon" alt="">
            <span
                class="menu__link-txt">Корзина</span></a></li>
    </ul>
</div>
<div class="menu__footer"><a href="javascript:void(0);" class="menu__footer-link">О нас</a>
    <button class="menu__footer-btn" (click)="auth.logout()"><img src="img/icons/exit.svg" class="menu__footer-btn-icon" alt=""> <span
        class="menu__footer-btn-txt">Выйти</span></button>
</div>
