:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: antiquewhite;
}

.bh_block{
  display: flex;
  margin: 20px;
  flex-direction: column;
  background-color: bisque;
  box-shadow: 5px 5px 0 0 rgba(100, 100, 100, 0.3);
  justify-content: center;
}

.bh_control{
  margin: 15px;
  flex-basis: 75%;
  justify-content: center;
  display: flex;
}

input, textarea, select{
  font-size: 15pt;
  width: 90%;
  justify-content: center;
  color: dimgray;
}
.bh_admin_close{
  justify-self: flex-end;
}
.bh_service_title{
  flex-grow: 1;
}
.service_head{
  display: flex;
}
.ng-invalid{
  border-bottom: 2px red solid;
}
form.ng-invalid::after{
  content: 'не заполнены обязательные поля';
  margin-top: -15px;
}