<div class="bh_error_block" *ngIf="currentError">{{currentError}} <i class="far fa-times-circle" (click)="closeCurrentError()"></i></div>
<div class="service_head">
  <h3 class="bh_service_title" *ngIf="isCreateMode">Добавление услуги</h3>
  <h3 class="bh_service_title" *ngIf="isEditMode">Редактирование услуги</h3>
  <h3 class="bh_service_title" *ngIf="isDeleteMode">Удаление услуги</h3>

  <button class="bh_admin_close" (click)="close()">Закрыть</button>
</div> 

<app-table 
  *ngIf="!!menu && (isEditMode || isDeleteMode)"
  [key]="menu.name" 
  [type]="menu.type" 
  (select)="selectServiceFromTable( $event )"
  (refresh)="refreshAssign($event)"
></app-table>

<div class="bh_block">

  <ng-container *ngIf="(isEditMode && !!currentService) || isCreateMode">
    <form [formGroup]="form">
      <div class="bh_control" *ngFor="let field of fields">
        <ng-container *ngIf="!field.hide">
          <ng-container [ngSwitch]="field.type">

            <ng-container *ngSwitchCase="'string'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <input type="text" [name]="field.id" [readonly]="field.readonly"  [id]="field.id" [placeholder]="'Введите ' + (field.title ? field.title : 'текст') | lowercase" [formControl]="field.control" />
            </ng-container>

            <ng-container *ngSwitchCase="'id'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <input type="text" [name]="field.id" [readonly]="field.readonly" [id]="field.id" [placeholder]="'Введите ' + (field.title ? field.title : 'текст') | lowercase" [formControl]="field.control" />
            </ng-container>

            <ng-container *ngSwitchCase="'text'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <textarea [name]="field.id" [id]="field.id" [readonly]="field.readonly" [placeholder]="'Введите ' + field.title | lowercase" [formControl]="field.control" ></textarea>
            </ng-container>

            <ng-container *ngSwitchCase="'select'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>

              <select [name]="field.id" [id]="field.id" [disabled]="field.readonly" *ngIf="field.dctItems" [formControl]="field.control" (change)="selectControl(field, $event)">
                <option *ngIf="field.canBeNull" [value]="null">Не выбран</option>
                <option *ngFor="let item of field.dctItems" [value]="item.id">{{item.title}}</option>
              </select>
            </ng-container>

            <ng-container *ngSwitchCase="'autocomplete'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <app-autocomplete></app-autocomplete>
            </ng-container>

            <ng-container *ngSwitchCase="'flag'">
              <div class="bh_control_half">
                <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
                <input type="checkbox" [name]="field.id" [id]="field.id" [formControl]="field.control" [readonly]="field.readonly">
              </div>
            </ng-container>

          </ng-container>
        </ng-container>
        
      </div>
    </form>
    
  </ng-container>
  
  <button *ngIf="isCreateMode" [disabled]="!!currentService || !!form.invalid" (click)="createEntity()">Создать {{menu.titleVoc}}</button>
  <button *ngIf="isEditMode" [disabled]="!currentService || !!form.invalid" (click)="editEntity()">Изменить {{menu.titleVoc}}</button>
  <button *ngIf="isDeleteMode" [disabled]="!currentService" (click)="removeEntity()">Удалить {{menu.titleVoc}}</button>

  <ng-container *ngIf="menu && menu.type === 'container' && !!currentService">

    <app-table 
      *ngIf="!!menu && (isEditMode)"
      [key]="menu.name" 
      [type]="'repo'"
      [multiselect]="true" 
      (select)="repoSelected( $event )"
      (dummyKey)="setDummyKey( $event )"
      (deselector$)="deselectAssign( $event )"
    ></app-table>

  <div class="full" *ngIf="!!menu && (isEditMode)"><i class="fas fa-chevron-down fa-3x"></i></div>

  <app-table 
      *ngIf="!!menu && (isEditMode) && dummyKey"
      [type]="'dummy'" 
      [key]="dummyKey"
      [dummyItems]="dummyItems"
      (deselect)="deselectFromContainer( $event )"
  ></app-table>

  <button *ngIf="isEditMode" [disabled]="!currentService || !!form.invalid" (click)="saveItemsOfContainer()">Зафиксировать содержимое контейнера</button>

</ng-container>
  
</div>
