<div class="bh_error_block" *ngIf="currentError">{{currentError}} <i class="far fa-times-circle" (click)="closeCurrentError()"></i></div>
<div class="service_head">
  <h3 class="bh_service_title" *ngIf="isCreateMode">Добавление {{menu.titleVocs}}</h3>
  <h3 class="bh_service_title" *ngIf="isEditMode">Редактирование {{menu.titleVocs}}</h3>
  <h3 class="bh_service_title" *ngIf="isDeleteMode">Удаление {{menu.titleVocs}}</h3>

  <button *ngIf="isEditMode && menu && menu.type === 'container'" [disabled]="!currentService || !!form.invalid" (click)="saveItemsOfContainer()">
      <i class="fas fa-lock"></i> Зафиксировать состояние контейнера
  </button>

  <button *ngIf="isCreateMode" [disabled]="!!currentService || !!form.invalid" (click)="createEntity()"><i class="fas fa-plus-square"></i>Создать {{menu.titleVoc}}</button>
  <button *ngIf="isEditMode" [disabled]="!currentService || !!form.invalid" (click)="editEntity()"><i class="fas fa-edit"></i>Изменить {{menu.titleVoc}}</button>
  <button *ngIf="isDeleteMode" [disabled]="!currentService" (click)="removeEntity()"><i class="far fa-trash-alt"></i>Удалить {{menu.titleVoc}}</button>

  <button (click)="close()"><i class="fas fa-window-close" ></i>Закрыть панель</button>

</div>

<app-table
  *ngIf="!!menu && ( true || isEditMode || isDeleteMode)"
  [key]="menu.name"
  [type]="menu.type"
  (select)="selectServiceFromTable( $event )"
  (refresh)="refreshAssign($event)"
></app-table>

<div class="bh_block">

  <ng-container *ngIf="(isEditMode && !!currentService) || isCreateMode">
    <form [formGroup]="form">
      <div class="bh_control" *ngFor="let field of fields">
        <ng-container *ngIf="!field.hide">
          <ng-container [ngSwitch]="field.type">

            <ng-container *ngSwitchCase="'img'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <ng-container *ngIf="field.control.value else img_upload_tpl">
                <app-image [id]="field.control.value" [attr.name]="field.id" [control]="field.control"></app-image>
              </ng-container>

              <ng-template #img_upload_tpl>
                <div class="bh_panel_block">
                  <div class="bh_block">
                    <input type="file"
                           (change)="setImageForUpload( $event )"
                           [name]="field.id"
                           [readonly]="field.readonly"
                           [id]="field.id"
                           [placeholder]="'Введите ' + (field.title ? field.title : 'текст') | lowercase"
                           [formControl]="field.mirrorControl"/>

                    <input [formControl]="field.titleControl" type="text" id="file_title" placeholder="Введите название картинки">

                    <input [formControl]="field.descriptionControl" type="text" id="file_description" placeholder="Введите описание картинки">

                    <button (click)="uploadImage( field )">Загрузить файл</button>
                  </div>
                </div>

              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'string'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <input type="text" [name]="field.id" [readonly]="field.readonly"  [id]="field.id" [placeholder]="'Введите ' + (field.title ? field.title : 'текст') | lowercase" [formControl]="field.control" />
            </ng-container>

            <ng-container *ngSwitchCase="'id'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <input type="text" [name]="field.id" [readonly]="field.readonly" [id]="field.id" [placeholder]="'Введите ' + (field.title ? field.title : 'текст') | lowercase" [formControl]="field.control" />
            </ng-container>

            <ng-container *ngSwitchCase="'text'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <textarea [name]="field.id" [id]="field.id" [readonly]="field.readonly" [placeholder]="'Введите ' + field.title | lowercase" [formControl]="field.control" ></textarea>
            </ng-container>

            <ng-container *ngSwitchCase="'select'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>

              <select [name]="field.id" [id]="field.id" [disabled]="field.readonly" *ngIf="field.dctItems" [formControl]="field.control" (change)="selectControl(field, $event)">
                <option *ngIf="field.canBeNull" [value]="null">Не выбран</option>
                <option *ngFor="let item of field.dctItems" [value]="item.id">{{item.title}}</option>
              </select>
            </ng-container>

            <ng-container *ngSwitchCase="'autocomplete'">
              <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
              <app-autocomplete></app-autocomplete>
            </ng-container>

            <ng-container *ngSwitchCase="'flag'">
              <div class="bh_control_half">
                <label [for]="field.id" class="bh_label">{{ field.title }}{{field.required ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>
                <input type="checkbox" [name]="field.id" [id]="field.id" [formControl]="field.control" [readonly]="field.readonly">
              </div>
            </ng-container>

            <!-- <span>requred: {{ field.required | json }}</span> -->

          </ng-container>
        </ng-container>

      </div>

      <div class="bh_link_control" *ngFor="let field of linkFields">
        <ng-container [ngSwitch]="field.type" *ngIf="!field.hide">

          <ng-container *ngSwitchCase="'repo'">
            <ng-container *ngIf="menu && menu.type === 'container' && !!currentService">

              <app-table
                *ngIf="!!menu && (isEditMode)"
                [title]="field.title"
                [key]="menu.name"
                [type]="field.type"
                [multiselect]="field.multiselect"
                (select)="repoSelected( $event )"
                (deselector$)="deselectAssign( $event )"
                [imageOptions]="field.image"
              ></app-table>

              <div class="full" *ngIf="!!menu && (isEditMode)"><i class="fas fa-chevron-down fa-3x"></i></div>

              <app-table
                  *ngIf="!!menu && (isEditMode) && field.entKey"
                  [title]="field.dummyTitle"
                  [type]="'dummy'"
                  [key]="field.entKey"
                  [dummyItems]="dummyItems"
                  [dummyFields]=""
                  (deselect)="deselectFromContainer( $event )"
                  [imageOptions]="field.image"
              ></app-table>

              <button class="full" *ngIf="isEditMode" [disabled]="!currentService || !!form.invalid" (click)="saveItemsOfContainer()">
                <i class="fas fa-lock"></i>Зафиксировать содержимое контейнера
              </button>

            </ng-container>

            <ng-container *ngIf="menu && menu.type === 'slot'">

              <app-table
                *ngIf="!!menu && (isEditMode || isCreateMode)"
                [title]="field.title"
                [type]="field.entType"
                [key]="field.entKey"
                (select)="linkFromTableSelected( $event, field )"
                (deselector$)="deselectSlotsServiceAssign( $event )"
                [imageOptions]="field.image"
              ></app-table>

            </ng-container>

            <ng-container *ngIf="menu && menu.type === 'entity'">

              <app-table
                *ngIf="!!menu && (isEditMode || isCreateMode)"
                [title]="field.title"
                [type]="field.entType"
                [key]="field.entKey"
                (select)="linkFromTableSelected( $event, field )"
                (deselector$)="deselectSlotsServiceAssign( $event )"
                [imageOptions]="field.image"
              ></app-table>

            </ng-container>
          </ng-container>

        </ng-container>
      </div>

    </form>

  </ng-container>

  <button *ngIf="isCreateMode" [disabled]="!!currentService || !!form.invalid" (click)="createEntity()"><i class="fas fa-plus-square"></i>Создать {{menu.titleVoc}}</button>
  <button *ngIf="isEditMode" [disabled]="!currentService || !!form.invalid" (click)="editEntity()"><i class="fas fa-edit"></i>Изменить {{menu.titleVoc}}</button>
  <button *ngIf="isDeleteMode" [disabled]="!currentService" (click)="removeEntity()"><i class="far fa-trash-alt"></i>Удалить {{menu.titleVoc}}</button>

</div>
