<div class="service_head">
  <h3 class="bh_service_title" *ngIf="isCreateMode">Добавление услуги</h3>
  <h3 class="bh_service_title" *ngIf="isEditMode">Редактирование услуги</h3>
  <h3 class="bh_service_title" *ngIf="isDeleteMode">Удаление услуги</h3>

  <button class="bh_admin_close" (click)="close()">Закрыть</button>
</div> 

<app-table 
  *ngIf="!!menu && (isEditMode || isDeleteMode)"
  [key]="menu.name" 
  [type]="'entity'" 
  [rowsettings]="rowsServices"
  (select)="selectServiceFromTable( $event )"
  (refresh)="refreshAssign($event)"
></app-table>

<div class="bh_block">

  <ng-container *ngIf="isEditMode || isCreateMode">
    <form [formGroup]="form">
      <div class="bh_control" *ngFor="let field of fields">

        <label [for]="field.id" class="bh_label">{{ field.title }}{{field.requred ? '*' : ''}}{{field.hasOwnProperty('canBeNull') && !field.canBeNull  ? '*' : ''}}</label>

        <ng-container [ngSwitch]="field.type">

          <ng-container *ngSwitchCase="'string'">
            <input type="text" [name]="field.id" [id]="field.id" [placeholder]="'Введите ' + field.title | lowercase" [formControl]="field.control" />
          </ng-container>

          <ng-container *ngSwitchCase="'text'">
            <textarea [name]="field.id" [id]="field.id" [placeholder]="'Введите ' + field.title | lowercase" [formControl]="field.control" ></textarea>
          </ng-container>

          <ng-container *ngSwitchCase="'select'">
            <select [name]="field.id" [id]="field.id" *ngIf="field.dctItems" [formControl]="field.control" (change)="selectControl(field, $event)">
              <option *ngIf="field.canBeNull" [value]="null">Не выбран</option>
              <option *ngFor="let item of field.dctItems" [value]="item.id">{{item.title}}</option>
            </select>
          </ng-container>

          <ng-container *ngSwitchDefault>
            
          </ng-container>

        </ng-container>

      </div>
    </form>
    
  </ng-container>
  
  <button *ngIf="isCreateMode" [disabled]="!!currentService">Создать услугу</button>
  <button *ngIf="isEditMode" [disabled]="!currentService">Изменить услугу</button>
  <button *ngIf="isDeleteMode" [disabled]="!currentService" (click)="removeEntity()">Удалить услугу</button>
  
</div>
