.tbl_row {
    display: contents;
    cursor: pointer;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.small {
    width: 50px;
}
.mid {
    width: 90px;
}
.long {
    width: 150px;
}
.extra {
    width: 210px;
}

.order_tbl__head__item {
    margin: 15px;
}

.order_tbl__item {
    margin: 15px;

    &.open_btn {
        margin-left: auto;
        cursor: pointer;
    }
}
.order_container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    .order_container_head {
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-wrap: wrap;
        background-color: #F3F3F3;
        .header_led {
            height: 8px;
            width: 100%;
        }
        .header_bar {
            width: 100%;
            background-color: #eee;
            min-height: 2.4rem;
            display: flex;
            column-gap: 15px;
            align-items: center;
            padding: 0 15px;
        }
        .user_info {
            display: flex;
            flex-grow: 1;
            padding: 10px 15px;
            align-items: center;
            gap: 2rem;

            .user_info_block {
                .user_info__fio {
                    font-size: 1.8rem;
                    margin: 0;
                }
                .user_info__login {
                    font-size: 1.8rem;
                    color: #019af4;
                }
            }

            .user_price_block {
                .user_price__ttl {
                    font-size: 0.8rem;
                    margin: 0;
                }
                .user_price__price {
                    font-size: 1.8rem;
                    color: #019af4;
                }
            }
            .user_contacts {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                .user_contacts__ch {
                    display: flex;
                    gap: 1.3rem;
                }
            }

            .user_avatar {
                border-radius: 50%;
                height: 128px;
                width: 128px;
            }

            .cart-pack__body-title {
                width: 40%;
                border-bottom: none;
                margin-right: 28px;
            }
            .cart-pack-options {
                border-bottom: none;
            }
            .user_contacts {
                .user_contacts__phone {
                    font-size: 1.8rem;
                }
                .user_contacts__email {
                    font-size: 1.6rem;
                    color: #019af4;
                }
            }
        }
    }
    .ctg_orders {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        .section__title{
            width: 100%;
            font-size: 16px;
            border-bottom: 2px solid grey;
        }
        background-color: #eeeeee;
    }
}
.btn_close {
    width: 49px;
    height: 35px;
    background: url("/img/icons/lk_close_btn_icon.png") no-repeat;
    background-size: cover;
    align-self: center;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}
.order_actions{
    display: flex;
    margin-left: auto;
    margin-right: 16px;
    .order_btn {
        width: 24px;
        height: 24px;
        background-size: cover;
        margin-right: 16px;
        cursor: pointer;

        &.order_resolve {
            background-image: url("/img/icons/resolve_btn.png");
        }
        &.order_reject {
            background-image: url("/img/icons/reject_btn.png");
        }
        &.order_edit {
            background-image: url("/img/icons/edit_btn.png");
        }
        &.order_remove {
            background-image: url("/img/icons/remove_btn.png");
        }
    }
}
.inactive {
    filter: grayscale(1);
}
.order {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 0.5fr;
    align-items: center;
    -moz-column-gap: 25px;
    column-gap: 25px;
}

.ctg_status_action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.order_status_btn {
    width: calc(100% - 30px);
    height: 32px;
}
.ctg_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    padding-right: 2rem;

    .ctg_phone__ttl {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    .ctg_phone__number {
        font-size: 2.4rem;
    }
}
$skype-color: #00aff0;
$whatsapp-color: #128C7E;
$telegram-color: #0088cc;
$viber-color: #59267c;
.fa-viber {
    color: $viber-color;
}
.fa-whatsapp {
    color: $whatsapp-color;
}
.fa-skype {
    color: $skype-color;
}
.fa-telegram-plane {
    color: $telegram-color;
}
