@import "sass/variables";
.lk-simple-rating {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  align-items: center;
  gap: 0 12px;
  justify-content: center;
  align-content: center;

  .rate-count {
    padding: 5px 10px;
    background-color: #cccccc;
    border-radius: 5px 10px;
    font-size: 1.2rem;
  }

  &-rating {
  }
}
.lk-user-card-container {
  border: 3px $light-blue solid;
  border-radius: 16px;
  display: flex;
  padding: 8px;
  gap: 16px;
  background-color: #f3f3f3;
}
.lk-rating-total-text {
  font-size: 0.7rem;
}
