<h4 class="lk_ttl">Отзывы</h4>
<button class="button-close" [routerLink]="['/admin', 'lk']">
    <img src="/img/icons/close.svg" class="button-close__img" alt="закрыть" />
</button>

<!--<app-lk-rating-->
<!--    [size]="'l'"-->
<!--    [mode]="'simple'"-->
<!--    [stepMode]="'discreet'"-->
<!--    [rateCurrent]="5"-->
<!--    [rateMin]="1.5"-->
<!--    [rateMax]="4.7"-->
<!--    [rateAvg]="4.7"-->
<!--    [rateAvgMin]="3.5"-->
<!--    [rateAvgMax]="4.3"-->
<!--    [colorMode]="'color'"-->
<!--&gt;</app-lk-rating>-->

<app-feedback-filter></app-feedback-filter>
<app-lk-view-block *ngFor="let ctg of selectedCTG$ | async">
    <app-contragent-header
        *ngIf="ctg"
        [contragent]="ctg"
        data-header
    ></app-contragent-header>
    <div class="lk-view-block__body" data-list>
        <app-lk-feedback-list [contragent]="ctg"></app-lk-feedback-list>
    </div>
</app-lk-view-block>
