<h4 class="lk_ttl">Отзывы</h4>
<button class="button-close" [routerLink]="['/admin', 'lk']">
    <img src="/img/icons/close.svg" class="button-close__img" alt="закрыть" />
</button>

<!--<app-lk-rating-->
<!--    [size]="'l'"-->
<!--    [mode]="'compare'"-->
<!--    [stepMode]="'flow'"-->
<!--    [rateCurrent]="5"-->
<!--    [rateMin]="1.5"-->
<!--    [rateMax]="4.7"-->
<!--    [rateAvg]="4.7"-->
<!--    [rateAvgMin]="3.5"-->
<!--    [rateAvgMax]="4.3"-->
<!--    [colorMode]="'primary'"-->
<!--&gt;</app-lk-rating>-->
<div class="lk-rating-row" style="display: flex; gap: 36px; align-items: end">
    <app-lk-user-card
        *ngIf="user$ | async as usr"
        [user]="usr"
    ></app-lk-user-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-simple-card
        [title]="'test'"
        [subTitle]="'subtest'"
        [photoId]="29"
    ></app-lk-simple-card>
</div>
<div class="lk-feedback-body">
    <div class="lk-feedback-messages">
        <div class="lk-feedback-message-box lk-feedback-message-main">
            <div class="lk-feedback-message-date">28.02.2012 22:33</div>
            <div class="lk-feedback-message speech-bubble">
                <div class="lk-feedback-message-text">
                    Да идите вы все нахуй!!!
                </div>
            </div>
        </div>

        <div class="lk-feedback-message-box">
            <div class="lk-feedback-message-date">28.02.2012 22:33</div>
            <app-lk-avatar [title]="'Агрессо'"></app-lk-avatar>
            <div
                class="lk-feedback-message speech-bubble speech-bubble-accent speech-bubble-left"
            >
                <div class="lk-feedback-message-text">Сам иди ебана!</div>
            </div>
        </div>

        <div class="lk-feedback-message-box">
            <div
                class="lk-feedback-message-date lk-feedback-message-date-right"
            >
                28.02.2012 22:33
            </div>
            <div
                class="lk-feedback-message speech-bubble-accent-secondary speech-bubble speech-bubble-right"
            >
                <div class="lk-feedback-message-text">
                    Заткнитесь нахуй оба!
                </div>
            </div>
            <app-lk-avatar [title]="'Мразь'"></app-lk-avatar>
        </div>
    </div>
    <div class="lk-feedback-rating-block">
        <i class="fas fa-chevron-down fa-3x" style="align-self: center"></i>
        <app-lk-rating-group [votes]="votes"></app-lk-rating-group>
    </div>
</div>

<app-feedback-filter></app-feedback-filter>
<app-lk-view-block *ngFor="let ctg of selectedCTG$ | async">
    <app-contragent-header
        *ngIf="ctg"
        [contragent]="ctg"
        data-header
    ></app-contragent-header>
    <div class="lk-view-block__body" data-list>
        <app-lk-feedback-list [contragent]="ctg"></app-lk-feedback-list>
    </div>
</app-lk-view-block>
