<div class="order_table">

    <div class="order_container cart-pack cart-pack--clinic">
        <div class="order_container_head">
            <app-contragent-header></app-contragent-header>
        </div>
    </div>

    <div class="order_tbl__head">
        <div class="_row">
            <div class="order_tbl__head__item small">ID</div>
            <div class="order_tbl__head__item mid">Пользователь</div>
            <div class="order_tbl__head__item extra">ФИО</div>
            <div class="order_tbl__head__item extra">email</div>
            <div class="order_tbl__head__item long">Телефон</div>
            <div class="order_tbl__head__item long">Предпочитаемый канал связи</div>
            <div class="order_tbl__head__item long">Дата оформления</div>
            <div class="order_tbl__head__item mid">Статус</div>
            <div class="order_tbl__head__item mid">Сумма</div>
        </div>
    </div>

    <div class="order_tbl__body">
        <app-order-group class="_row"></app-order-group>
        <app-order-group class="_row"></app-order-group>
        <app-order-group class="_row"></app-order-group>
        <app-order-group class="_row"></app-order-group>
    </div>

</div>
