:host{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    height: 100%;
    background-color: #333;
}

.bh_admin_header{
    height: 32px;
    line-height: 32px;
    color: #ccc;
    background-color: #333;
    font-size: 18pt;
    width: 100%;
}

.bh_admin_panel{
    display: flex;
    flex-grow: 1;
    /* height: calc(100% - 32px); */
    background-color: #ccc;
}
#loader{
    width: 100%;
    height: 2px;
    background: #333;
    transition: all .5s ease;
}
#loader_line{
    height: 2px;
    box-shadow: 0 0 3px 0px orange;
    background: orange;
    transition: all .5s ease;
}
@keyframes loader{
    from{width: 0;}
    to{width: 100%;}
}
#loader.hide{
    opacity: 0;
}
#loader_line.play{
    opacity: 1;
    animation-name: loader;
    animation-duration: .75s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#loader_line.error{
    background-color: red;
    box-shadow: 0 0 3px 0px red;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

#loader.error_text:hover{
    height: 50px;
    color: #ccc;
}