:host {
    box-shadow: 0 0 30px 0 #2d333f;
}
.bh_admin_menu_item {
    height: 32px;
    font-size: 13pt;
    border-bottom: 1px black solid;
    width: 100%;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
:last-child.bh_admin_menu_item {
    margin-bottom: 15px;
}

.bh_admin_menu_item.mutted {
    opacity: 0.5;
}
.bh_admin_menu_item:hover {
    text-decoration: underline;
}

.bh_admin_menu_title {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}
.menu_group {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
