<div class="menu_header">
    <div class="bh_admin_menu_title">Главное меню</div>
    <button
        class="lk__btn lk__btn--blue"
        [routerLink]="['/admin', 'lk']"
        *ngIf="userHasLkPermission$ | async"
    >
        Перейти в Личный кабинет
    </button>
</div>

<div class="accordion">
    <div class="menu_group" *ngFor="let menuGroup of menuRepo">
        <div class="card-header">
            <h2 class="mb-0" [id]="menuGroup.key">
                <button
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    class="btn btn-link btn-block text-left"
                    type="button"
                    (click)="toggleGroup(menuGroup.key)"
                    [attr.aria-controls]="menuGroup.key"
                >
                    {{ menuGroup.title }}
                </button>
            </h2>
        </div>

        <div
            [id]="menuGroup.key"
            class="collapse"
            [ngClass]="{ show: showed(menuGroup.key) }"
        >
            <div class="accordion-body">
                <div
                    class="bh_admin_menu_item"
                    *ngFor="let menuItem of menuGroup.list"
                    (click)="selectMenuItem(menuItem)"
                >
                    {{ menuItem.title }}
                </div>
            </div>
        </div>
    </div>
</div>
