<div class="clinic__tabs">
    <div class="clinic-tabs" *ngIf="tabs$ | async as t">

        <div class="clinic-tabs__item" *ngFor="let tab of t">
            <div class="clinic-tabs__rbt clinic-tabs-rbt">
                <input type="radio"
                       name="rbt"
                       class="clinic-tabs-rbt__input"
                       [id]="tab.key"
                       [checked]="isActiveTab(tab.key)"
                       (change)="selectTab(tab.key)">
                <label class="clinic-tabs-rbt__label" [for]="tab.key"
                       *ngIf="{ count: tab.inCount$ | async } as stats">
                    {{tab.title}}
                    <span class="clinic-tabs-rbt__badge">{{stats.count || 0}}</span>
                </label>
            </div>
        </div>
    </div>

    <button class="clinic-cart-btn">
        <span class="clinic-cart-btn__txt">В корзину</span>
    </button>
</div>

<!--<label class="clinic-tabs-rbt__label" [for]="tab.key"-->
<!--       *ngIf="{-->
<!--       selected: tab.inSelected$ | async,-->
<!--       count: tab.inCount$ | async } as stats">-->
<!--    {{tab.title}}-->
<!--    <span class="clinic-tabs-rbt__badge">{{stats.selected || 0}} / {{stats.count || 0}}</span>-->
<!--</label>-->
