<div class="clinic__tabs">
    <div class="clinic-tabs" *ngIf="tabs$ | async as t">
        <ng-container *ngFor="let tab of t">
            <ng-container
                *ngIf="{
                    required: tab.isRequired,
                    count: tab.inCount$ | async
                } as tabState"
            >
                <div
                    class="clinic-tabs__item"
                    *ngIf="tabState.required || tabState.count"
                >
                    <div class="clinic-tabs__rbt clinic-tabs-rbt">
                        <input
                            type="radio"
                            name="rbt"
                            class="clinic-tabs-rbt__input"
                            [id]="tab.key"
                            [checked]="isActiveTab(tab.key)"
                            (change)="selectTab(tab.key)"
                        />
                        <label
                            class="clinic-tabs-rbt__label"
                            [for]="tab.key"
                            *ngIf="{
                                count: tab.inCount$ | async,
                                selected: getTabSelectedCounts(tab.key) | async,
                                status: getValidationByTabKey(tab.key) | async
                            } as stats"
                        >
                            {{ tab.title }}{{ tabState.required ? "*" : "" }}
                            <span
                                class="clinic-tabs-rbt__badge"
                                [class.valid]="
                                    stats.status === 'valid' && stats.selected
                                "
                                [class.invalid]="
                                    stats.selected &&
                                    (stats.status === 'poor' ||
                                        stats.status === 'rich')
                                "
                                >{{ stats.selected }} /
                                {{ stats.count || 0 }}</span
                            >
                        </label>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="{ invalid: onValidationState$ | async } as state">
        <button
            class="clinic-cart-btn"
            (click)="gotoCart()"
            *ngIf="state?.invalid !== null"
            [class.muted]="state.invalid"
        >
            <span class="clinic-cart-btn__txt" title="В корзину"
                ><span class="price_from">от</span
                >{{ price$ | async }}&nbsp;&#x20bd;</span
            >
        </button>
    </ng-container>
</div>
