<div class="clinic__tabs">
    <div class="clinic-tabs">
        <div class="clinic-tabs__item">
            <div class="clinic-tabs__rbt clinic-tabs-rbt">
                <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt1">
                <label class="clinic-tabs-rbt__label" for="rbt1">
                    Специалисты
                    <span class="clinic-tabs-rbt__badge">+1</span>
                </label>
            </div>
        </div>
        <div class="clinic-tabs__item">
            <div class="clinic-tabs__rbt clinic-tabs-rbt">
                <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt2" checked>
                <label class="clinic-tabs-rbt__label" for="rbt2">
                    Размещение
                    <span class="clinic-tabs-rbt__badge">+1</span>
                </label>
            </div>
        </div>
        <div class="clinic-tabs__item">
            <div class="clinic-tabs__rbt clinic-tabs-rbt">
                <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt3">
                <label class="clinic-tabs-rbt__label" for="rbt3">
                    Виды родов
                    <span class="clinic-tabs-rbt__badge">+1</span>
                </label>
            </div>
        </div>
        <div class="clinic-tabs__item">
            <div class="clinic-tabs__rbt clinic-tabs-rbt">
                <input type="radio" name="rbt" class="clinic-tabs-rbt__input" id="rbt4">
                <label class="clinic-tabs-rbt__label" for="rbt4">
                    Дополнительные услуги
                    <span class="clinic-tabs-rbt__badge">+1</span>
                </label>
            </div>
        </div>
    </div>

    <button class="clinic-cart-btn">
        <span class="clinic-cart-btn__txt">786 435 руб.</span>
    </button>
</div>
