<div class="header_led" style="background-color: magenta"></div>
<div class="ctg_info">
    <div class="cart-pack__body-title">
        <p class="cart-pack__body-title-text">
            ФГБУ «Национальный медицинский исследовательский
            центр акушерства, гинекологии и перинатологии
            имени академика В.И.Кулакова»</p>
    </div>
    <div class="ctg_features">
        <div class="ctg_features__item">
            <span class="cart-pack-options__item-name">Посещение мамы и малыша в палате</span>
            <span class="cart-pack-options__item-value answer no">Нет</span>
        </div>
        <div class="ctg_features__item">
            <span class="cart-pack-options__item-name">Наличие детской реанимации</span>
            <span class="cart-pack-options__item-value answer yes">Да</span>
        </div>
        <div class="ctg_features__item">
            <span class="cart-pack-options__item-name">Женская консультация при роддоме</span>
            <span class="cart-pack-options__item-value answer yes">Да</span>
        </div>
        <div class="ctg_features__item">
            <span class="cart-pack-options__item-name">В палате с малышом</span>
            <span class="cart-pack-options__item-value answer yes">Да</span>
        </div>
    </div>
    <div class="ctg_phone">
        <p class="ctg_phone__ttl">Телефон связи с менеджером</p>
        <p class="ctg_phone__number">+7 900 800 70 60</p>
    </div>
</div>
