<h4 class="lk_ttl" *ngIf="isTargetFeedbackMode$ | async">Отзывы</h4>
<h4 class="lk_ttl" *ngIf="isMyFeedbackMode$ | async">Ваши отзывы</h4>
<button class="button-close" [routerLink]="['/', 'system']">
    <img src="/img/icons/close.svg" class="button-close__img" alt="закрыть" />
</button>

<ng-container *ngIf="isTargetFeedbackMode$ | async">
    <div class="info">
        <app-contragent-card [contragent]="contragent$ | async"></app-contragent-card>
        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
        <app-rate [rate]="1.3" [size]="'96px'"></app-rate>
        <app-lk-rating-group [votes]="votes" style="flex: 1 3 auto;"></app-lk-rating-group>
    </div>
</ng-container>


<app-feedback-filter class="muted"></app-feedback-filter>



<!-- для отзывов пользователя -->
<ng-container *ngIf="isMyFeedbackMode$ | async">
    <div class="feedback_block zebra" *ngFor="let feedback of listFeedbackByUser$ | async">
        <!-- карточка -->
        <app-lk-simple-card [photoId]="feedback?._entity?.image_id" [title]="feedback?._entity?.title"></app-lk-simple-card>
        
        <!-- шеврон -->
        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>

        <app-rate [rate]="feedback?._summary?.avr"></app-rate>

        <!-- шеврон -->
        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>

        <app-lk-feedback-massage style="margin-left: 28px;" [text]="feedback?.comment?.text" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

        <!-- лайки -->
        <app-likes [count]="feedback?.likes?.length ?? 0"></app-likes>
        <app-likes [count]="feedback?.dislikes?.length ?? 0" [negative]="true"></app-likes>

        <!-- экшены -->
        <div class="action_block">
            <i class="fas fa-edit fa-2x action_button"></i>
            <i class="far fa-trash-alt fa-2x action_button"></i>
        </div>
    </div>

</ng-container>

<!-- для отзывов пользователя на target -->
<ng-container *ngIf="isTargetFeedbackMode$ | async">
    <div class="feedback_block target_mode zebra" *ngFor="let feedback of listFeedbackByTarget$ | async">
        <!-- карточка -->
        <app-lk-user-card *ngIf="feedback.user"  [user]="feedback.user"></app-lk-user-card>

        <!-- шеврон -->
        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>

        <app-rate [rate]="feedback?._summary?.avr"></app-rate>

        <!-- шеврон -->
        <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>

        <app-lk-feedback-massage style="margin-left: 28px;" [text]="feedback?.comment?.text" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>
    
        <!-- лайки -->
        <app-likes [count]="feedback?.likes?.length ?? 0"></app-likes>
        <app-likes [count]="feedback?.dislikes?.length ?? 0" [negative]="true"></app-likes>
    
        <!-- экшены -->
        <div class="action_block" *ngIf="isSelfOwner(feedback.user_id)">
            <i class="fas fa-edit fa-2x action_button"></i>
            <i class="far fa-trash-alt fa-2x action_button"></i>
        </div>
    </div>
</ng-container>

<!-- <div class="feedback_block zebra">
    <app-lk-user-card *ngIf="user$ | async as usr"  [user]="usr" [avatarOnly]="true"></app-lk-user-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="1.3"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>

    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>
<div class="feedback_block zebra">
    <app-lk-user-card *ngIf="user2$ | async as usr"  [user]="usr" [avatarOnly]="true"></app-lk-user-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="3.4"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>

    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>
<div class="feedback_block zebra">
    <app-lk-user-card *ngIf="user3$ | async as usr"  [user]="usr" [avatarOnly]="true"></app-lk-user-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="4.3"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>

    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>
<div class="feedback_block zebra">
    <app-lk-user-card *ngIf="user4$ | async as usr"  [user]="usr" [avatarOnly]="true"></app-lk-user-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="4.1"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>

    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>

<div class="feedback_block zebra">
    <app-lk-simple-card [photoId]="145" [title]="'Родильный дом ГКБ №15 им. О.М. Филатова'"></app-lk-simple-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="4.1"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>

    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>
<div class="feedback_block zebra">
    <app-lk-simple-card [photoId]="145" [title]="'Родильный дом ГКБ №15 им. О.М. Филатова'"></app-lk-simple-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="4.1"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>


    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div>
<div class="feedback_block zebra">
    <app-lk-simple-card [photoId]="145" [title]="'Родильный дом ГКБ №15 им. О.М. Филатова'"></app-lk-simple-card>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-rate [rate]="4.1"></app-rate>
    <i class="fas fa-chevron-right fa-3x" style="align-self: center"></i>
    <app-lk-feedback-massage style="margin-left: 28px;" [text]="'testing message...'" [editMode]="false" [mode]="'answer'"></app-lk-feedback-massage>

    <app-likes></app-likes>
    <app-likes [negative]="true"></app-likes>


    <div class="action_block">
        <i class="fas fa-edit fa-2x action_button"></i>
        <i class="far fa-trash-alt fa-2x action_button"></i>
    </div>
</div> -->

<div class="emptylist">
    Нет результатов отвечающих кретериям поиска
</div>

<!-- {{targetKey$ | async }}
{{targetId$ | async }}
{{target$ | async | json }}
{{mode$ | async | json }} -->