.info {
    display: flex;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    gap: 16px;
    padding: 16px;
    align-items: center;
}
.feedback_block {
    display: grid;
    grid-template-columns: minmax(215px, max-content) 24px 64px 24px 1fr repeat(2, 16px) auto auto;
    gap: 16px;
    align-items: center;
}
.separator {
    flex-grow: 1;
}
.action_block {
    display: flex;
    gap: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 16px;

    .action_button {
        cursor: pointer;
    }
}
.zebra:nth-child(even){
    background-color: rgb(240, 240, 240);
}