.popup__mention {
    display: flex;
    gap: 10px;
    align-items: center;
}
.fa-thumbs-up {
    color: #30c469;
}
.fa-thumbs-down {
    color: #a00d2e;
}
.phone_container {
    display: flex;
    font-size: 1.2rem;
    font-weight: bolder;
}
.map_container {
    width: 100%;
    height: 150px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
}
