<ng-container *ngTemplateOutlet="unwrap"></ng-container>

<ng-template #wrap>
    <div class="order_container cart-pack cart-pack--clinic">
        <div class="order_container_head">
            <div class="header_bar">
                <div>ID: 9d13efb4-40c2-413c-8ccf-8c843515de7d</div>
                <div>Заказан: 27.01.2020 20:03:20</div>
            </div>
            <div class="user_info">
                <img class="user_avatar" src="img/ava@3x.png">
                <div class="user_info_block">
                    <p class="user_info__fio">Софья Владимировна Полищук</p>
                    <p class="user_info__login">LanaDark</p>
                </div>
                <div class="user_contacts">
                    <div class="user_contacts__phone">+7 900 800 70 60</div>
                    <div class="user_contacts__email">lanadark21081981@gmail.com</div>
                    <div class="user_contacts__ttl">Предпочитаемый канал связи</div>
                    <div class="user_contacts__ch">
                        <i class="fas fa-phone fa-2x" aria-hidden="true" title="Телефон"></i>
                        <i class="fab fa-viber fa-2x" aria-hidden="true" title="Viber"></i>
                        <i class="fab fa-whatsapp fa-2x" aria-hidden="true" title="WhatsApp"></i>
                        <i class="fab fa-telegram-plane fa-2x" aria-hidden="true" title="Telegram"></i>
                        <i class="fa fa-envelope fa-2x" aria-hidden="true" title="E-mail"></i>
                        <i class="fab fa-skype fa-2x" aria-hidden="true" title="Skype"></i>
                    </div>
                </div>
                <div class="user_price_block">
                    <p class="user_price__ttl">Общая сумма заказа</p>
                    <p class="user_price__price">548 000 рублей</p>
                    <div class="btn-group" role="group" aria-label="Действия">
                        <button type="button" class="btn btn-outline-success">Завершить</button>
                        <button type="button" class="btn btn-danger">Отменить</button>
                    </div>
                </div>
                <div class="btn_close"></div>
            </div>
        </div>
        <div class="ctg_orders">
            <p class="cart-pack-item__title section__title">Родовспоможение</p>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <div class="order_btn order_resolve inactive"></div>
                    <div class="order_btn order_reject inactive"></div>
                    <div class="order_btn order_edit inactive"></div>
                    <div class="order_btn order_remove inactive"></div>
                </div>
            </div>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <div class="order_btn order_resolve inactive"></div>
                    <div class="order_btn order_reject inactive"></div>
                    <div class="order_btn order_edit inactive"></div>
                    <div class="order_btn order_remove inactive"></div>
                </div>
            </div>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <div class="order_btn order_resolve inactive"></div>
                    <div class="order_btn order_reject inactive"></div>
                    <div class="order_btn order_edit inactive"></div>
                    <div class="order_btn order_remove inactive"></div>
                </div>
            </div>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <div class="order_btn order_resolve inactive"></div>
                    <div class="order_btn order_reject inactive"></div>
                    <div class="order_btn order_edit inactive"></div>
                    <div class="order_btn order_remove inactive"></div>
                </div>
            </div>
            <p class="cart-pack-item__title section__title">Консультации</p>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <button class="filter__btn filter__btn--blue">Выбрать услугу</button>
                </div>
            </div>
            <div class="order">
                <div class="cart-pack-item__inner-avatar">
                    <img src="/no_image.png" >
                </div>
                <p class="cart-pack-item__inner-name">Антонина Егоровна Павсиенко</p>
                <div class="cart-pack-item__inner-value">
                    <p class="cart-pack-item__inner-value-text">Врач Неоантолог - высшая категория</p>
                    <!--                                <p class="cart-pack-item__inner-value-text">Категория - А</p>-->
                </div>
                <p class="cart-pack-item__inner-price">50 000 руб.</p>
                <div class="order_actions">
                    <button class="filter__btn filter__btn--blue">Выбрать услугу</button>
                </div>
            </div>
            <button class="filter__btn filter__btn--blue order_status_btn">Добавить услугу</button>
        </div>
    </div>
</ng-template>

<ng-template #unwrap>
    <div class="order_tbl__item small">251</div>
    <div class="order_tbl__item mid">LanaDark</div>
    <div class="order_tbl__item extra">Софья Владимировна Полищук</div>
    <div class="order_tbl__item extra">lanadark21081981@gmail.com</div>
    <div class="order_tbl__item long">+7 900 800 70 60</div>
    <div class="order_tbl__item long"></div>
    <div class="order_tbl__item long">27.01.2020 20:03:20</div>
    <div class="order_tbl__item mid">Ожидание</div>
    <div class="order_tbl__item mid">150 000</div>
    <div class="order_tbl__item open_btn"><i class="fas fa-eye fa-lg"></i></div>
</ng-template>
