@import 'sass/variables';

:host {
    display: flex;
    align-items: center;
}

.profile_body {
    margin: 0;
    border-radius: 0;
    background-color: $white;
    flex-grow: 1;
    padding: 0;

    @media (min-width: 769px) {
        margin-top: 25px;
        border-radius: 5px;
        box-shadow: 0 10px 24px 0 rgba($black, 0.06);
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;

    @media (min-width: 769px) {
        padding: 20px;
        gap: 16px;
    }
}

.list_item {
    display: flex;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(45, 51, 63, 0.2);
    background-color: #f9f9f9;
    padding: 8px 4px;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 769px) {
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        gap: 16px;
    }

    .hidable {
        display: flex;
        gap: 8px;
        transition: all 0.2s ease-in;
        opacity: 1;
        justify-content: center;
        transform: scale(1);

        @media (min-width: 769px) {
            justify-content: flex-end;
            width: auto;
        }

        @media (max-width: 768px) {
            opacity: 1 !important;
            transform: none !important;
            transition: none !important;
        }
    }

    &:not(:hover) .hidable {
        opacity: 0;
        transform: scaleY(0);

        @media (max-width: 768px) {
            opacity: 1;
            transform: none;
        }
    }
}

.separator {
    display: none;

    @media (min-width: 769px) {
        display: block;
        flex-grow: 1;
    }
}

.empty {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: $dark-grey;
    border: 2px solid $light-grey;
    margin: 5%;
    text-align: center;
}

// Button styles
.btn {
    &:has(> .fa-trash-alt, .fa-xmark) {
        &:hover {
            background-color: $red;
        }
    }

    &:has(> .fa-check) {
        &:hover {
            background-color: $green;
        }
    }

    &.btn-light {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 6px;
        transition: all 0.2s ease;
        margin-left: 8px;

        .fa-pen {
            color: $dark-grey;
            background: transparent;
            padding: 0;
            font-size: 16px;

            &:hover {
                color: $dark;
            }
        }

        &:hover {
            background: $light-grey;
        }
    }
}