<div class="profile_body">
    <div class="page_body">
        <!-- Заявки в друзья -->
        <ng-container *ngIf="offered$ | async as offered">
            <profile-friends-section
                [title]="'Заявки в друзья'"
                [count]="offered.length"
                [collapsed]="!offered.length"
                [items]="offered"
                type="offered"
            ></profile-friends-section>
        </ng-container>

        <!-- Список друзей -->
        <ng-container *ngIf="friends$ | async as friends">
            <profile-friends-section
                [title]="'Список друзей'"
                [count]="friends.length"
                [collapsed]="!friends.length"
                [items]="friends"
                type="friends"
            ></profile-friends-section>
        </ng-container>

        <!-- Черный список -->
        <ng-container *ngIf="blacklist$ | async as blacklist">
            <profile-friends-section
                [title]="'Черный список'"
                [count]="blacklist.length"
                [collapsed]="!blacklist.length"
                [items]="blacklist"
                type="blacklist"
            ></profile-friends-section>
        </ng-container>

        <!-- Заявки, которые ожидают подтверждения -->
        <ng-container *ngIf="pending$ | async as pending">
            <profile-friends-section
                [title]="'Заявки, которые ожидают подтверждения'"
                [count]="pending.length"
                [collapsed]="!pending.length"
                [items]="pending"
                type="pending"
            ></profile-friends-section>
        </ng-container>
    </div>
</div>

<ng-template #empty>
    <div class="empty">Список пуст</div>
</ng-template>
