<div class="lk-view-block__head">
    <div class="_row">
        <div class="lk-view-block__head__item small">ID</div>
        <div class="lk-view-block__head__item mid">Пользователь</div>
        <div class="lk-view-block__head__item extra">ФИО</div>
        <div class="lk-view-block__head__item extra">email</div>
        <div class="lk-view-block__head__item long">Телефон</div>
        <div class="lk-view-block__head__item long">Предпочитаемый канал связи</div>
        <div class="lk-view-block__head__item long">Дата оформления</div>
        <div class="lk-view-block__head__item mid">Статус</div>
        <div class="lk-view-block__head__item mid">Сумма</div>
    </div>
</div>
